<div class="bio">
    <h1>Donald W. Ableson</h1>
    <h2>1999 SAE President</h2>

      <p>Don has been an active member of SAE International for over 50 years. Ableson was an organizer and Chairman of the SAE Foundation Board of Trustees and the first Chairman of the SAE Foundation Canada. He was a member of the Global Development Conference General Committee, Chairman of the Detroit Section, and a member of the SAE and Detroit Section Finance Committees. Ableson’s SAE involvement also included roles of membership and Chairman of various other committees. Because of his years of leadership positions within SAE, he made a great fit for President of SAE International in 1999. He was awarded the 2005 Medal of Honor and became an SAE Fellow in 2006. Ableson had an over forty-year successful career with General Motors. In the halls of SAE, President Ableson is remembered for his passion for education and globalization.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/ableson_1999.jpg);"></div>
