<div class="bio">
    <h1>Herbert W. Alden</h1>
    <h2>1923 SAE President</h2>

      <p>President of SAE for part of 1912, Herbert Alden was elected President in his own right in 1923. The engineer began his career with the Pope Manufacturing Company in 1895 and retired as head of the Timken-Detroit Axle Company. He was awarded the Distinguished Service Medal for improving tank design problems during World War I. In 1923, the number of SAE Members surpassed 5,000.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/alden_1912.jpg);"></div>
