<div class="bio">
    <h1>Herbert W. Alden</h1>
    <h2>1912 SAE President</h2>

      <p>President Alden completed Henry Donaldson’s term during 1912. He would later be elected to his own term in the 1920s. Alden was awarded the Distinguished Service Medal for ameliorating tank design problems during World War I. During 1912, SAE International published its first standard.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/alden_1912.jpg);"></div>
