<div class="bio">
    <h1>George D. Aravosis</h1>
    <h2>1988 SAE President</h2>

      <p>George D. Aravosis was SAE International’s President in 1988. Known for being extremely active within the SAE organization before his presidency, Aravosis served on five committees concurrently and chaired on two of them. His earlier career saw him in the U.S. Army prior to teaming up with International Harvester Company (now Navistar International). Aravosis retired from the organization as vice president of marketing, sales, and planning. During his presidency, he led SAE in hosting a FISITA conference.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/aravosis_1988.jpg);"></div>
