<div class="bio">
    <h1>Bruce R. Aubin</h1>
    <h2>1993 SAE President</h2>

      <p>SAE International’s President of 1993 was Bruce R. Aubin. In total, President Aubin spent over forty-two years in the air transport industry. Aubin also had a forty-year long career with Air Canada. In 1989, President Aubin was appointed senior vice president of technical operations. He was responsible for all of Air Canada’s engineering, maintenance, purchasing, supply, and aircraft acquisition activities. President Aubin worked tirelessly to guide the Board of Directors to engage in two strategic ideas: Environment/Total Life Cycle Technology and Globalization.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/aubin_1993.jpg);"></div>
