<div class="bio">
    <h1>Benjamin B. Bachman</h1>
    <h2>1922 SAE President</h2>

      <p>Also known as B.B. Bachman, Benjamin B. Bachman became SAE International’s seventeenth President in 1922. Bachman worked on passenger car and truck development for multiple years with the Autocar Company in Ardmore, Pennsylvania. He was an advocate for the transition from solid rubber truck tires to pneumatic tires. President Bachman also served as SAE’s treasurer from 1944-1959.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/bachman_1922.jpg);"></div>
