<div class="bio">
    <h1>Rodica A. Baranescu</h1>
    <h2>2000 SAE President</h2>

      <p>Rodica Baranescu was the first female President of SAE. Baranescu obtained her doctorate in Romania before coming to the United States in 1980. Before obtaining her degrees, she taught at Politehnica University for twelve years. Dr. Baranescu continued her teaching career at the University of Illinois at Chicago in 2005. A winner of the Forest McFarland Award and an SAE Fellow since 1999, she is remembered for advancing international relationships, including helping establish two Romanian Joint SIAR-SAE Membership Groups.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/baranescu_2000.jpg);"></div>
