<div class="bio">
    <h1>Daniel P. Barnard, IV</h1>
    <h2>1952 SAE President</h2>

      <p>Dr. Daniel Barnard was SAE International’s forty-sixth President. President Barnard earned his master's and doctorate degrees from the distinguished Massachusetts Institute of Technology, and continued to work within the Research Laboratory of Applied Chemistry for multiple years earning the title of divisional director. Barnard was a specialist in fuels and lubricants and established the automotive laboratory for Standard Oil of Indiana. Barnard also had his pilot’s license, an interest he had had since WWI when he enlisted in the Naval Reserve for aviation duty.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/barnard_1952.jpg);"></div>
