<div class="bio">
    <h1>Harry F. Barr</h1>
    <h2>1970 SAE President</h2>

      <p>President Barr came with an exponential amount of notability. His career began at Cadillac in 1929 and he moved to Chevrolet twenty-seven years later to become chief engineer in only a short amount of time. Barr headed the entire General Motor engineering staff in 1963 and was crucial to the overhead-valve family of GM engines and GM transmissions. He always took time to support his community and had a great interest in the welfare of the people around him.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/barr_1970.jpg);"></div>
