<div class="bio">
    <h1>N. John Beck</h1>
    <h2>1982 SAE President</h2>

      <p>Prior to Dr. N. John Beck’s presidency, he served as a naval officer in World War II. Soon after, he received his degree in Mechanical Engineering. Beck joined General Motors Research Laboratories as a senior research engineer and subsequently earned a PhD. Beck joined Douglas Aircraft in 1953, then teamed up with Cummins Engine Company as vice president of research. After a bit of time there, President Beck went to McCulloch Corp. as chief engineer, responsible for a new chainsaw line. After the acquisition of McCulloch by White Motor Corp., Beck assumed the responsibilities of president of the advanced products division. Beck went on to establish his own engineering firm, BKM, Inc., after he worked at Rohr Corporation. He was involved with SAE since 1952.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/beck_1982.jpg);"></div>
