<div class="bio">
    <h1>David Beecroft</h1>
    <h2>1921 SAE President</h2>

      <p>President Beecroft was originally a technical writer and editor for several renowned automotive magazines. At the beginning of the 1920s, the number of automobiles in the world was close to ten million. It was under Beecroft that the Cooperative Fuel Research, a joint activity of SAE, the American Petroleum Institute (API), the National Automobile Chamber of Commerce (NACC), and the National Bureau of Standards (NBS) came to be. The focus of the Cooperative Fuel Research was on fuels and lubricants. There were also more than 220 standards during this time.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/beecroft_1921.jpg);"></div>
