<div class="bio">
    <h1>Vincent Bendix</h1>
    <h2>1931 SAE President</h2>

      <p>President Bendix strongly supported SAE International’s technical program. He did so by giving personal funds to support research. Bendix was an inventor and an industrialist. He invented, and patented, the Bendix drive – a gear that made the electric starter practical for aircraft and automotive engines. After his father was tragically killed in a motor vehicle accident, Bendix was motivated to study a different area of the car – the braking systems. Bendix founded the Bendix Brake Company which acquired the rights to a patent of a French braking system that was far superior to anything available in the United States. During Bendix’s term, a careful study was conducted of student branches and operational cost reductions were implemented to cope with the effects of the Depression.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/bendix_1931.jpg);"></div>
