<div class="bio">
    <h1>Harold L. Brock</h1>
    <h2>1971 SAE President</h2>

      <p>President Harold Brock was fit to a ‘t’ to become an incredible engineer. Some people may say that he was fit to a ‘Model T’ since Brock was instructed at the Ford Trade and Apprentice School starting at age fifteen. It was there that Brock met Henry Ford. Under Ford’s tutelage, Brock met and worked with the greats of the era such as Thomas Edison, George Washington Carver, Harvey Firestone, and many more. Brock moved to John Deere in 1959 as the assistant director of engineering research. He was soon promoted to manager of vehicle engineering, responsible for agricultural tractors all over the world. President Brock also helped establish the Hawkeye Institute of Technology, now known as the Hawkeye Community College.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/brock_1971.jpg);"></div>
