<div class="bio">
    <h1>Andrew Brown, Jr.</h1>
    <h2>2010 SAE President</h2>

      <p>2010 saw an SAE member of seventeen years become President. Dr. Andrew Brown, Jr. served on multiple committees and boards including the Board of Directors, Foundation Board of Trustees, Technical Standards Board, and Fellows Committee. President Brown came from a long career in the automotive industry, serving as vice president and chief technologist for Delphi. Brown was globally recognized for his knowledge of matters of innovation and was well-versed in chemical engineering, finance, marketing, energy, and environmental engineering. He is also the author of the industry anthem, “Safe, Green, and Connected” in reference to the important aspects of ground vehicles.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/brown_2010.jpg);"></div>
