<div class="bio">
    <h1>L. Ray Buckendale</h1>
    <h2>1946 SAE President</h2>

      <p>Ray Buckendale, SAE International’s 1946 President, graduated from the University of Michigan and began a life-long career with the Timken-Detroit Axle Company. He served SAE in many posts. During his time in office, Buckendale oversaw the SAE Technical Board’s transition into full operation to guide and direct all SAE Technical Committee activity.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/buckendale_1946.jpg);"></div>
