<div class="bio">
    <h1>George E. Burks</h1>
    <h2>1966 SAE President</h2>

      <p>George ‘Ed’ Burks was as kind and giving as he was caring and loyal. President Burks spent most of his career at Caterpillar Tractor Company, where he was responsible for increases in diesel engine output. He became chief engineer there in under fifteen years, and vice president of engineering and research in a total of twenty-six years. Burks held many patents and was dedicated to his career. He gave back to his community by volunteering for several organizations including the YWCA and Boy Scouts of America. Burks also served SAE in nearly every possible capacity before becoming President.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/burks_1966.jpg);"></div>
