<div class="bio">
    <h1>Robert Cass</h1>
    <h2>1953 SAE President</h2>

      <p>In 1953, SAE saw its fourth English-born President, Robert ‘Bob’ Cass. Cass served in the Royal Naval Air Service as an aeronautical engineer. After his time in the service, he came to the U.S. to teach at Harvard University. A well-traveled man, his teaching career took him to the Soviet Union as well as Japan, where he taught the construction of flying boats. Later, Cass joined the White Truck Company as chief engineer and became assistant to the president of that organization.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/cass_1953.jpg);"></div>
