<div class="bio">
    <h1>Harry E. Chesebrough</h1>
    <h2>1960 SAE President</h2>

      <p>Harry Chesebrough, SAE’s 1960 President, spent his career at Chrysler in test work, engineering, and management. He served for two years as president of the American Standards Association, ultimately changing its name to the American National Standards Institute. He chaired the SAE Planning for Progress program and helped carry out its plans during his term.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/chesebrough_1960.jpg);"></div>
