<div class="bio">
    <h1>Howard E. Coffin</h1>
    <h2>1910 SAE President</h2>

      <p>Known as ‘The Father of Standardization,’ SAE International’s fourth President was Howard Coffin. Coffin was a highly accomplished engineer and executive who was also a vice president of engineering for Hudson Motor Car Company. Coffin is well known for his initiative in standardizing material and design specifications. He is also known for encouraging automobile manufacturers to share their patents and their ideas. Coffin assisted in co-authoring the first instruction book for car owners. Coffin stimulated a vigorous standards program, laid the foundation for the SAE Bulletin, and made SAE a more fiscally-sound organization.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/coffin_1910.jpg);"></div>
