<div class="bio">
    <h1>William S. Coleman</h1>
    <h2>1987 SAE President</h2>

      <p>President William “Bill” Coleman came to SAE International after an established career with General Motors that spanned for fifteen years. After GM, President Coleman moved on to Minneapolis Moline, where he rose through the ranks to become president until the company was acquired by White Motor Company in 1970. He joined American Motors, and then Eaton Research where he served simultaneous to his presidency. President Coleman was the director of Eaton’s new product opportunities for the Corporate R&D Detroit Center. He retired as general manager. For SAE, Coleman wrote many technical papers, served as a member on the Board of Directors, and was the Detroit Section’s Chairman.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/coleman_1987.jpg);"></div>
