<div class="bio">
    <h1>Charles C. Colyer</h1>
    <h2>1983 SAE President</h2>

      <p>Archie Colwell, a graduate of the U.S. Military Academy and the Army Engineers School, spent four years in the service before joining the Steel Products Company. He served SAE as President in 1941 but continued in an active and vital role for many years after. He was chairman for the SAE Finance Committee for twenty-five years and achieved industry funding for the Cooperative Engineering Program.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/colyer_1983.jpg);"></div>
