<div class="bio">
    <h1>Henry M. Crane</h1>
    <h2>1924 SAE President</h2>

      <p>President Crane had a substantial career that included work for AT&T and the Western Electric Company. He founded Crane and Whitman Company to develop gas engines, which later became Crane Motor Car Company and eventually Simplex Automobile Company. In 1920, by way of other mergers, Crane became vice president of engineering of Wright Aeronautical Company.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/crane_1924.jpg);"></div>
