<div class="bio">
    <h1>James M. Crawford</h1>
    <h2>1945 SAE President</h2>

      <p>SAE International’s President of 1945, James Crawford, had ties with SAE for over thirty years before becoming President. Crawford joined SAE in 1913 where he served as a mechanic, designer, and chief draftsman before becoming assistant chief engineer at Chalmers Motor Co. in Detroit. Almost fifteen years later, Crawford went on to Chevrolet as an assistant chief engineer before being promoted to chief engineer two years later. Crawford became one of the most active members on the SAE War Engineering Board, and was Chairman of the Coordinating Equipment Research Committee of the Coordinating Research Council.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/crawford_1945.jpg);"></div>
