<div class="bio">
    <h1>William K. Creson</h1>
    <h2>1958 SAE President</h2>

      <p>A graduate from Purdue University, William ‘Bill’ Creson always had a knack for engineering. In high school he was often found in the school’s shops during evenings, breaks and summer vacations. When Bill wasn’t at the school’s shops, he was working in the town’s automotive plants. Before graduating from Purdue, Creson served in the U.S. Navy during WWI. After graduation, he started working with Ross Gear and Tool Co. and became vice president of engineering within twenty-five years. He is widely known as the authority on the application of power steering to wheeled vehicles. During his term at SAE, Creson helped accelerate the SAE Planning for Progress reorganization.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/creson_1958.jpg);"></div>
