<div class="bio">
    <h1>William J. Davidson</h1>
    <h2>1939 SAE President</h2>

      <p>SAE International’s thirty-third President, William Davidson, was born in Montreal. After graduating from McGill University, he served in France with the Motor Transport Corps and was awarded the Cross of the Legion of Honor by the French government. During his 1939 presidential term, he stimulated SAE’s relationships with foreign engineers and led an SAE World Engineering Congress. The SAE War Engineering Board was also established in 1939.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/davidson_1939.jpg);"></div>
