<div class="bio">
    <h1>George A. Delaney</h1>
    <h2>1956 SAE President</h2>

      <p>George Delaney was president of SAE in 1956. A distinguished automotive engineer, Delaney was the chief engineer of GM’s Pontiac Motor Division. He also served for a number of years as a consultant and special project manager of the emissions control research program of the Automobile Manufacturers Association. He was a member of SAE for over fifty years, acting as both a local and national treasurer.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/delaney_1956.jpg);"></div>
