<div class="bio">
    <h1>Hobart H. Dickinson</h1>
    <h2>1933 SAE President</h2>

      <p>Hobart “Doc” Dickinson, the 1933 President of SAE International, spent his entire professional career at the National Bureau of Standards. During his term, he made a nationwide automobile tour visiting SAE sections and the Fuels and Lubricants Meetings Committee was formed. An authority on thermodynamics and internal-combustion engines, his interests also included headlighting, engineering management, riding comfort research, and traffic safety.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/dickinson_1933.jpg);"></div>
