<div class="bio">
    <h1>Henry L. Donaldson</h1>
    <h2>1912 SAE President</h2>

      <p>President Donaldson came to SAE International with a much different background than his forerunners. Donaldson had experience as a writer and an editor and was also an automotive engineering consultant. Tragically, President Donaldson passed away early in his term. Before his passing, President Donaldson was able to conquer a few initiatives such as popularizing the <i>SAE Bulletin</i>, initiating peer review of technical papers, and copyrighting SAE’s original document, SAE Transactions.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/donaldson_1912.jpg);"></div>
