<div class="bio">
    <h1>George W. Dunham</h1>
    <h2>1917 SAE President</h2>

      <p>The first time SAE International saw active participation in a time of war was throughout 1917 during the term of George Dunham. Dunham was the chief engineer of Chalmers Automobile Company. The term <em>automotive</em> was also introduced to SAE’s name during Dunham’s time as President, changing the name of the organization to the “Society of Automotive Engineers.”</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/dunham_1917.jpg);"></div>
