<div class="bio">
    <h1>John T. Dyment</h1>
    <h2>1964 SAE President</h2>

      <p>President John Dyment of 1964 had spent his adult life improving not only the design, but also the manufacturing and performance, of the aircraft. Dyment was chief engineer of Air Canada. He enjoyed tinkering and building model airplanes in his youth. As a junior engineer at Ford, he convinced the organization to install Townend rings on the engines of Trimotor planes. This made them faster than other similar models. President Dyment also had an interest in the human element of aircraft performance, stating, “If it's mechanical, we can fix it. If it depends on human element, we can never trust it. So, we as engineers must reduce the human element in air transportation to a rock-bottom minimum.”</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/dyment_1964.jpg);"></div>
