<div class="bio">
    <h1>W. Paul Eddy</h1>
    <h2>1957 SAE President</h2>

      <p>Upon his election in 1957, Paul Eddy was the chief of engineering operations for the Pratt and Whitney Division of United Aircraft Corporation. During his term, Eddy greatly contributed to the organization not only in technical areas but in administrative ones as well. He encouraged the expansion of engineering instruction to include a wider variety of educational subjects. </p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/eddy_1957.jpg);"></div>
