<div class="bio">
    <h1>John C. Ellis</h1>
    <h2>1973 SAE President</h2>

      <p>President John ‘Jack’ Ellis participated with SAE for twenty-three years before his presidential term in 1973. Ellis was drafted into the Army in 1941 and served for five years. After his service, Ellis worked for Shell Oil Company. President Ellis’ title was manager of vehicle emissions control and technical information. His role was to essentially reduce Shell’s vehicle emissions as a corporate-wide effort.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/ellis_1973.jpg);"></div>
