<div class="bio">
    <h1>Lamont Eltinge</h1>
    <h2>1991 SAE President</h2>

      <p>The President of 1991 at SAE International was Lamont Eltinge. President Eltinge worked for several of the major players in the industry including Standard Oil Company (Amoco), the Gas Research Institute, Ethyl Corp., and Cummins Engine Company. For many years, he worked for Eaton Corporation as the director of research. He was a Fellow in the Office of Science and Technology Policy in Washington, D.C.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/eltinge_1991.jpg);"></div>
