<div class="bio">
    <h1>F. Burrows Esty</h1>
    <h2>1968 SAE President</h2>

      <p>President Esty came to SAE with over thirty years of experience in six major areas: land, sea, powerplants research and development, model shop, design, and development. Esty worked at Bendix with aircraft magnetos going from drill press operator to magneto component designer. By 1945, he was the head of the experimental shop, one year into his time at the company. It wasn’t long after this that Esty became a chief engineer at Wisconsin Motor. Since the company was approximately 85% custom design, Esty continuously faced design challenges. Through perseverance and persistence, Esty became vice president of engineering in 1957. President Esty was closely involved in the standardized parts program and the manufacture of military family of engines. He also helped in the development of the first Wisconsin overhead valve engine.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/esty_1968.jpg);"></div>
