<div class="bio">
    <h1>Thomas J. Fay</h1>
    <h2>1908 SAE President</h2>
    
      <p>Not only was Fay a major author of the first volume of SAE Transactions with his contributions regarding materials, but he was also SAE International’s second President. Fay was an electrical engineer and consultant. He was a substantial contributor to technical papers and discussions at the Society’s first two annual meetings held in 1906 and 1907. Fay had expertise in the areas of materials standards, vehicle durability, and the performance of professional duties. By this time, SAE International’s membership had acquired another fifty members.</p>  
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/fay_1908.jpg);"></div>