<div class="bio">
    <h1>Frank W. Fink</h1>
    <h2>1962 SAE President</h2>

      <p>Frank Fink, SAE International’s President of 1962, had a lengthy and decorated career in aviation. With a Bachelor of Science degree in Mechanical Engineering from the University of Colorado, President Fink started his career with Curtiss-Wright. Seven years later, Fink joined Consolidated Aircraft Co., (now known as Convair Division of General Dynamics Corp.) where he rose to chief production engineer at the time of WWII. Convair produced the B-24 Liberator bomber, and the Catalina and Coronado flying boats, three versatile “workhorse” type aircrafts that aided in the victory of the Allied Powers. After WWII, Fink went to Ryan Aeronautical Co. where he helped direct advanced programs.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/fink_1962.jpg);"></div>
