<div class="bio">
    <h1>Lewis E. Fleuelling</h1>
    <h2>1979 SAE President</h2>

      <p>Known as a major contributor to a lot of advancements in automobile suspension systems was President Lewis “Lew” Fleuelling. Fleuelling worked his way through the ranks at Monroe Auto Equipment Co. and became senior vice president. The President’s early career was not all spent at Monroe, as he served in the Army Air Forces and was involved in twenty-nine bombing missions over Europe during WWII. During his presidency, Fleuelling emphasized the necessity for better communication between government and industry.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/fleuelling_1979.jpg);"></div>
