<div class="bio">
    <h1>C. Erwin Frudden</h1>
    <h2>1947 SAE President</h2>

      <p>President Frudden’s presidency began in 1947. In his early years, Frudden spent his high school vacations working in tractor plants. After college, Frudden took a job as a tractor engineer for Allis-Chalmers Manufacturing Company in the Tractor Division. President Frudden took it upon himself to travel throughout the United States and Canada to study tractor operations on various farms. He filed for, and received, several patents covering tractor design, engine accessories and other farming machinery. He was a consultant for the War Production Board’s Farm Machinery and Equipment Branch in WWII. During Frudden’s term, the Engineering Materials Meetings Committee was formed.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/frudden_1947.jpg);"></div>
