<div class="bio">
    <h1>Wilson A. Gebhardt</h1>
    <h2>1974 SAE President</h2>

      <p>Wilson A. “Bill” Gebhardt was the President of SAE in 1974. President Gebhardt was an engineer, an instructor, and a lawyer. He lectured at Case School of Applied Science. After teaching, he moved on to Bendix Corporation where he held a wide variety of positions including the executive assistant to the general manager of Bendix Engine Controls Division. Gebhardt preached responsibility of the engineer in the product liability area. He advised precautions that engineers must take in documenting development, design, and testing activities. By September 1974, thanks to President Gebhardt, SAE successfully relocated from mid-Manhattan, New York to Warrendale, Pennsylvania.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/gebhardt_1974.jpg);"></div>
