<div class="bio">
    <h1>Mircea Gradu</h1>
    <h2>2018 SAE President</h2>

      <p>Known among his colleagues in the engineering community for extensive research with LiDAR Technology, President Gradu was able to bring over twenty-five years of experience in the auto and commercial vehicle industries with him to SAE. Gradu joined Velodyne LiDAR, Inc. in September 2017. He had an intense background that included deep technical knowledge of design, development, safety, manufacturing, and cybersecurity due to his previous employment at Hyundai. Dr. Gradu previously worked with industry leaders such as Daimler-Benz AG, Chrysler Group, and USCAR. Gradu has published over forty papers and has been awarded fifty-six patents. </p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/gradu_2018.jpg);"></div>
