<div class="bio">
    <h1>Dr. Richard Greaves </h1>
    <h2>2015 SAE President</h2>

      <p>Dr. Richard Greaves is a member of the management board of directors and vice president of Meggitt PLC. He became SAE International’s President in 2015. Dr. Greaves is based in Switzerland and the UK and has chaired the Integrated Vehicle Health Management (IVHM) Boeing/Cranfield University Centre of Excellence. He has been a member of both the Bern Chapter of the British-Swiss Chamber of Commerce and the Brussels-based Aerospace and Defense Industries Association of Europe Equipment Commission. President Greaves is a chartered scientist, a chartered engineer and a Fellow of the Institute of Physics (UK), a Fellow of the Royal Aeronautical Society (UK), and a Fellow of SAE. Greaves holds various patents, has authored several publications, and is a renowned world expert on conditioning monitoring of engines.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/greaves_2015.jpg);"></div>
