<div class="bio">
    <h1>Elliot A. Green</h1>
    <h2>1985 SAE President</h2>

      <p>President Elliot Green was the vice president of Lockheed-California Company, as well as general manager of Product Support. During his time at Lockheed, Green was involved in the design and development of many aircraft. He held a multitude of positions within SAE including Chairman of the Aerospace Council. He brought significant attention to the SAE Collegiate Design Series by setting up a fund for the Aero Design student competition.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/green_1985.jpg);"></div>
