<div class="bio">
    <h1>Daniel M. Hancock</h1>
    <h2>2014 SAE President</h2>

      <p>President Daniel M. Hancock served during 2014. President Hancock served ten years as Chair of the SAE Foundation Board of Trustees prior to his presidency. He came to the presidency with more than forty years of industry experience serving as vice president of global strategic product alliances for GM. This proved valuable when Hancock established his consulting company DMH Strategic Consulting LLC. President Hancock was a recipient of the SAE Medal of Honor in 2009. He is also well known for being a strong advocate for the advancement of STEM education, pushing for developments in the areas of CDS and AWIM.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/hancock_2014.jpg);"></div>
