<div class="bio">
    <h1>Jeff Hemphill</h1>
    <h2>2021 SAE President</h2>

      <p>Jeff Hemphill is chief technical officer of the Schaeffler America. He is responsible for new product development, analysis and testing of transmission, engine, chassis, and industrial components and systems for conventional and hybrid vehicles as well as consumer products and industrial machine products.</p>
        
        <p>A member of SAE International since 1998, President Hemphill studied at The University of Akron, while he worked as a machinist and cooperative education student. He also earned an Executive Certificate in Strategy and Innovation from MIT which has proven useful in leading innovation efforts for the Schaeffler Americas. His product development experience covers 30 years and includes manufacturing engineering, product design, testing, and vehicle development experience. President Hemphill has more than 70 patents filed or issued.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/hemphill_2021.jpg);"></div>
