<div class="bio">
    <h1>Greg Henderson</h1>
    <h2>2006 SAE President</h2>

      <p>Greg first got involved with SAE as a student and grew from that role to become the first SAE Fellow to serve in the White House Office of Science and Technology Policy in 1986. Five years later, he joined the Board of Directors and later served as the Assistant Treasurer and Treasurer at SAE. Henderson, a Fellow grade member, has received the Medal of Honor from SAE and several awards from his former employer, Lockheed Martin Aeronautics Company. Henderson is fondly remembered at SAE for his passion regarding student engagement and SAE Motorsports. Henderson was the driving force behind the name change of the Society of Automotive Engineers to SAE International to be more inclusive of all SAE sectors, professions, and individuals.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/henderson_2006.jpg);"></div>
