<div class="bio">
    <h1>Arthur W. Herrington</h1>
    <h2>1942 SAE President</h2>

      <p>Arthur Herrington dedicated his engineering career to the development of better off-road military and civilian vehicles. He became president of Marmon-Herrington Company in 1931 and was elected to the SAE presidency in 1942. During his term, the SAE Automotive Technical Advisory Board became the War Engineering Board, and greatly expanded to coordinate efforts for the allied forces.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/herrington_1942.jpg);"></div>
