<div class="bio">
    <h1>Henry Hess</h1>
    <h2>1909 SAE President</h2>
    
      <p>SAE International’s first publication, SAE Transactions, had three papers; two of the three papers were authored by Presidents. SAE International’s third President, Henry Hess, authored the third paper about ball bearings. During his presidency, Hess oversaw the debut of the original SAE logo and witnessed membership approach nearly four hundred members. Hess assisted in another major change at SAE even after his Presidency. Originally, SAE International was an exclusive society strictly meant for engineers with professional credentials. Since there were only an estimated 2,000 in the United States, Hess opposed such a radical policy, stating that this would deter potential members. This led to a revision in the constitution of SAE in 1911 so that anyone could join SAE International.</p> 
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/hess_1909.jpg);"></div>