<div class="bio">
    <h1>Donald G. Hillebrand</h1>
    <h2>2013 SAE President</h2>

      <p>Dr. Hillebrand was SAE International’s President of 2013. Hillebrand served as a senior policy advisor with the White House Office of Science and Technology Policy and later a research and technology strategist for the European Commission. President Hillebrand was an early advocate of nascent technologies such as vehicle hybridization, lithium batteries, and life-cycle analysis and now directs one of the U.S. government’s premier research labs. He was an SAE Washington Fellow and served six years on the SAE Board of Directors.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/hillebrand_2013.jpg);"></div>
