<div class="bio">
    <h1>David C. Holloway</h1>
    <h2>1997 SAE President</h2>

      <p>1997 President of SAE International, David C. Holloway, was also a Fellow and dedicated teacher. He is well known for his contributions in forming the student chapter of the University of Maryland in 1978. The Mini Baja, a competition hosted by SAE’s Collegiate Design Series, was first won by Holloway and his students in 1982. He is fondly remembered for his support of engineering education within the SAE organization.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/holloway_1997.jpg);"></div>
