<div class="bio">
    <h1>Harry L. Horning</h1>
    <h2>1925 SAE President</h2>

      <p>Harry Horning was first noted as the designer of the structure and operating mechanism of the Duluth Steel Bridge. Horning founded the Waukesha Motor Company in 1906. He is also credited with helping the Society of Tractor Engineers and the National Gas Engine Association merge into SAE International. Additionally, President Horning aided in SAE’s continued research in cooperative fuels. </p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/horning_1925.jpg);"></div>
