<div class="bio">
    <h1>George J. Huebner, Jr.</h1>
    <h2>1975 SAE President</h2>

      <p>The father of the automotive gas turbine, George Huebner, Jr., was the President of SAE International in 1975. Huebner was obsessed with tinkering since the age of ten. This led him to work at Chrysler Corporation by the time he was a senior at the University of Michigan. For the following forty-five years, Huebner designed engines for cars, military vehicles and rockets. He had more than forty patents that included everything from turbines to engines. Huebner retired at the top of his field as the executive engineer at Chrysler Corporation.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/huebner_1975.jpg);"></div>
