<div class="bio">
    <h1>Russell Huff</h1>
    <h2>1916 SAE President</h2>

      <p>Russell Huff, chief engineer of Dodge Brother Company, served as President of SAE in 1916. During his purview he aided in the national defense program, presided while arrangements were made for the merger of aeronautical, tractor, and marine groups with SAE, and oversaw substantial growth in membership and technical activities. In 1916, SAE opened a Detroit office and began to admit members of the American Society of Aeronautical Engineers, the Society of Tractor Engineers, the National Association of Engine and Boat Manufacturers, the National Gas Engine Association, and the American Society of Agricultural Engineers. SAE International also published its first aeronautical standard during his 1916 term.
          </p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/huff_1916.jpg);"></div>
