<div class="bio">
    <h1>John H. Hunt</h1>
    <h2>1927 SAE President</h2>

      <p>President Hunt’s largest contribution to SAE International was the development of policies on research. Hunt, a University of Michigan electrical engineering graduate, joined Packard in 1912, Dayton Engineering Laboratories in 1913, and became head of the electrical division of General Motors Research in 1920. Later, he headed the New Devices Section at General Motors. He was sitting president when the first SAE award was created in 1927 – the Wright Brothers medal – for the best paper on the topic of aircrafts.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/hunt_1927.jpg);"></div>
