<div class="bio">
    <h1>Ralph H. Isbrandt</h1>
    <h2>1967 SAE President</h2>

      <p>President Ralph Isbrandt had a broad engineering background and an expansive skillset built on years of experience. Isbrandt had more than forty years of experience within the auto and aero engineering fields. He began as a chassis detailer at A.O. Smith Company then moved onto Firestone to be a research engineer. Isbrandt is honored for his assistance and efforts in cultivating aircraft and motor vehicle suspension systems and for his advancements while serving as vice president of automotive engineering at American Motors Corporation. Safety was always a top priority for President Isbrandt and that is why there is the Ralph H. Isbrandt Automotive Safety Award. </p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/isbrandt_1967.jpg);"></div>
