<div class="bio">
    <h1>William S. James</h1>
    <h2>1944 SAE President</h2>

      <p>William James started his career at the National Bureau of Standards. When he was elected President of SAE in 1944, he was chief engineer of Studebaker Corporation, and later became vice president of engineering and research with Fram Corporation. He saw SAE’s World War II work near its completion and established its Special Publications Department.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/james_1944.jpg);"></div>
