<div class="bio">
    <h1>Charles F. Kettering</h1>
    <h2>1918 SAE President</h2>

      <p>One of the most influential automotive engineers in history, Charles “Boss” Kettering, was SAE International’s President in 1918. He was an inventor, businessman, engineer, and holder of over 180 patents. He was the head of research for General Motors for twenty-seven years and was the founder of Delco. Kettering’s most widely acclaimed accomplishment is the invention of the electric starting motor. He encouraged and urged the cooperation between petroleum and automotive industries which led to the formation of what is known today as the Coordinating Research Council.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/kettering_1918.jpg);"></div>
