<div class="bio">
    <h1>Milton J. Kittler</h1>
    <h2>1963 SAE President</h2>

      <p>When it was a sunny day in 1963, there was one place where President Milton Kittler could be found: in his neon-lit machine shop located in the basement of his home. Kittler had a love of engines since his youth and it continued to grow during his time at the Illinois Institute of Technology, where he earned a degree in Mechanical Engineering. Kittler spent time as an engineer with International Harvester, before joining Bendix Aviation in the Stromberg Carburetor Division. Kittler had an unusual knowledge for business and finance and didn’t miss an issue of the Wall Street Journal for more than twenty years. President Kittler was active on many committees and he was the SAE National Treasurer for ten years.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/kittler_1963.jpg);"></div>
