<div class="bio">
    <h1>Frank O. Klegon</h1>
    <h2>2012 SAE President</h2>

      <p>President Frank O. Klegon has not only been President of SAE International, but also has been a member for over thirty years. Klegon served on the Commercial Vehicle Congress Executive Planning Council and served as General Chair of the SAE World Congress. Prior to Klegon’s tenure, he spent twenty-five years with Chrysler and Daimler Chrysler, and held multiple positions including executive vice president of product development and design; vice president, core components & process; vice president, truck platform team, and many more. President Klegon is the president of the product/technology assessment and development consulting company for FOKUS Associates LLC.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/klegon_2012.jpg);"></div>
