<div class="bio">
    <h1>Dr. Richard “Ric” Kleine</h1>
    <h2>2011 SAE President</h2>

      <p>SAE International’s President of 2011 was Dr. Richard “Ric” Kleine. Kleine started his role at Cummins in the early 1980s and eventually grew to become vice president of quality and business. Prior to his vice-presidency, Kleine held many key executive positions in engineering and marketing. President Kleine previously served as SAE International’s Vice President of Commercial Vehicle and as a member of the SAE Commercial Vehicle Executive Council. Additionally, Kleine’s SAE International involvement includes the Commercial Vehicle Engineering Operations Activity Executive Committee and the Buckendale Lecture Committee.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/kleine_2011.jpg);"></div>
