<div class="bio">
    <h1>Andrew A. Kucher</h1>
    <h2>1961 SAE President</h2>

      <p>An inventor, an engineer, a businessman. That was SAE International’s President of 1961, Dr. Andrew A. Kucher. Years of independent research and multiple contributions made to the field of engineering earned Kucher an honorary Doctorate of Engineering from the University of Michigan in 1954 and another honorary doctorate in 1959 from the Michigan College of Mining and Technology. At the young age of twenty, Kucher designed and built one of the first monocoque fuselage airplanes in the United States. Kucher held close to one hundred patents and innovated several benefactions to modern life. Chief among them was the hermetically sealed motor-compression unit; this is used in refrigerators, deep freezers, and air conditioners. After research with Westinghouse and Frigidaire, Kucher later went to Ford where he formed and directed Ford’s Scientific Laboratory, before becoming vice president of the company in 1957.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/kucher_1961.jpg);"></div>
