<div class="bio">
    <h1>John M. Leinonen</h1>
    <h2>1995 SAE President</h2>

      <p>A thirty-five-year veteran of Ford, President John M. Leinonen came from a concentrated background in truck and auto safety. He retired from Ford during his presidency at SAE to become group VP and principal at Exponent Inc. Leinonen spent six years there before his retirement in 2001. He has been a part of several boards and committees. One of SAE’s most active past Presidents, he co-chaired the 100th anniversary committee.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/leinonen_1995.jpg);"></div>
