<div class="bio">
    <h1>Henry M. Leland</h1>
    <h2>1914 SAE President</h2>

      <p>Founder of the Cadillac Motor Car Company and winner of the Dewar Trophy in England for interchangeability of auto parts, Henry Leland became SAE International’s ninth President. Along with expertise in toolmaking, metrology and manufacturing, Leland also had experience working with firearms at Colt. After Cadillac was bought out by GM, the Cadillac division was asked to create parts for World War I, which some of Leland’s colleagues opposed. In response to the adverse reaction from his associates, Leland formed the Lincoln Motor Company, which produced thousands of Liberty Engines (aircraft engines) during the war. He was an outspoken advocate for student membership as well as for the system of primary elections for SAE officers.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/leland_1914.jpg);"></div>
