<div class="bio">
    <h1>Ronald K. Leonard</h1>
    <h2>1998 SAE President</h2>

      <p>Only a few of SAE International’s Presidents have a formal education in Agricultural Engineering. President Ronald K. Leonard earned a bachelor’s and master’s on the subject. Shortly thereafter, President Leonard found himself at Deere and eventually became the senior division engineer of the cotton harvesting division. Within a few short years, Leonard was named the director of Worldwide Agricultural Tractor & Component Engineering. He has written several articles, spoken at numerous technical society meetings, and holds six patents. Among other responsibilities, President Leonard was the general chairman of the International Off-Highway and Powerplant Congress and Exposition in 1997.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/leonard_1998.jpg);"></div>
