<div class="bio">
    <h1>Thomas J. Litle, Jr.</h1>
    <h2>1926 SAE President</h2>

      <p>In 1926, membership exceeded 6,000 and President Thomas J. Litle, Jr. was in office. President Litle had success in the fields of automobiles, illumination, and refrigeration. In 1917, Litle joined Cadillac and then Lincoln in 1918 to practice research and experimental engineering. Litle became the chief engineer of Marmon in 1926 and published the SAE Handbook while he was President of SAE International.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/litle_1926.jpg);"></div>
