<div class="bio">
    <h1>William Littlewood</h1>
    <h2>1954 SAE President</h2>

      <p>With a lengthy career in air transportation, SAE International’s President of 1954, William ‘Bill’ Littlewood is most famous for the design of the Douglas aircraft group from the DC-3 through the DC-7. Littlewood was vice president of American Airlines for nearly thirty years. He assisted in instituting a program in which operators of transport aircrafts helped specify the type of craft they purchased. In 1935, Littlewood received the Wright Brothers Medal for a paper on the operational requirements of transports.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/littlewood_1954.jpg);"></div>
