<div class="bio">
    <h1>Edward T. Mabley</h1>
    <h2>1989 SAE President</h2>

      <p>President Edward T. Mabley was the last of the presidents to serve in WWII. Mabley left college to serve as a First Lieutenant in the U.S. Army Corps of Engineers. When he returned home, he graduated from what is now known as the Rose-Hulman Institute of Technology with a Bachelor’s in Mechanical Engineering. It was at General Motors that Mabley led the project that designed the first automatic truck transmission. In 1956, President Mabley moved his family to Michigan for a position at Ford. Two years later, he became a member of SAE. He retired from Ford as the manager of truck product development. President Mabley is a cofounder of SAE’s Truck and Bus Meeting and a large contributor to the ‘A World in Motion’ (AWIM) program.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/mabley_1989.jpg);"></div>
