<div class="bio">
    <h1>Harold C. MacDonald</h1>
    <h2>1980 SAE President</h2>

      <p>1980 marked the SAE’s 75th anniversary, and Harold MacDonald was President for this tremendous milestone. President MacDonald had a long history with the automobile industry, coming from positions with Packard, General Motors, and Ford. At Ford, MacDonald rose to new heights as vice president of engineering and research amongst his staff. He was the author of several publications and held a variety of positions within SAE.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/macdonald_1980.jpg);"></div>
