<div class="bio">
    <h1>John R. MacGregor</h1>
    <h2>1965 SAE President</h2>

      <p>Learning carpentry and woodworking from a young age, SAE International’s President of 1965, John MacGregor was destined to be an engineer. Before he was twenty years old, he built about fifty houses with his father, a bicycle mounted glider, and his own automobile &mdash; a roadster. He graduated from the University of California in 1923 with a B.S. in Mechanical Engineering. He helped establish an Army Air Corps unit on the campus and held a commission in the reserves for fifteen years. Most of MacGregor’s professional experience came from the petroleum industry. At the time of his term, President MacGregor was the director of the California Research Corporation, the research division of Standard Oil of California.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/macgregor_1965.jpg);"></div>
