<div class="bio">
    <h1>Eugene J. Manganiello</h1>
    <h2>1972 SAE President</h2>

      <p>Eugene ‘Gene’ Manganiello was SAE International’s President in 1972. Manganiello obtained a B.S. degree in Engineering in 1934 and an Electrical Engineering degree in 1935. After graduation, Manganiello worked on the Ford assembly line for a year before joining the staff of the National Advisory Committee for Aeronautics as a Mechanical Engineer. He conducted and supervised research with single and multi-cylinder aircraft engines and their response to the cooling of air and liquid-cooled engines amongst other experiments. He became the head of heat transfer section of what is now known as NASA. He rose to deputy director of the heat transfer section. Manganiello is the author of thirty-five technical papers and reports and has had more than fifteen executive positions within SAE. </p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/manganiello_1972.jpg);"></div>
