<div class="bio">
    <h1>Charles M. Manly</h1>
    <h2>1919 SAE President</h2>

      <p>Charles Manly was the fourteenth president of SAE International, and was the first President to be elected from the aviation industry. Manly is widely known for his work in collaboration with the noted aeronautical researcher, Professor S.P. Langley. During World War I, Manly was an advisor to the British War Office and held about forty patents in variable-speed hydraulic drives. President Manly encouraged SAE to welcome members in all stages of their career. Manly also drew attention to the engineering industry’s role in a variety of social issues;  during his presidential address, he brought to light the dangers of air pollution and the obligations that engineers owe to the public in areas like vehicle safety. As WWI concluded, the number of SAE Members rose to 4,300.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/manly_1919.jpg);"></div>
