<div class="bio">
    <h1>Howard Marmon</h1>
    <h2>1913 SAE President</h2>

      <p>President Marmon came from modest beginnings as a builder of grain mill equipment before building the Marmon automobile. Marmon is credited with several innovations including the use of weight-saving aluminum materials. One of his most renowned achievements is his creation of the six-cylinder (V6) engine in the vehicle known as the Marmon “Wasp.” This car won the inaugural Indianapolis 500 in 1911. President Marmon is also credited with initiating the Research Division of the SAE Standards Committee.      
            </p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/marmon_1913.jpg);"></div>
