<div class="bio">
    <h1>Paul Mascarenas</h1>
    <h2>2019 SAE President</h2>

      <p>Paul Mascarenas served as the SAE President for 2019. He is widely recognized as an accomplished executive, with extensive experience in and around the automotive industry. Over the course of his career, President Mascarenas served in several senior leadership positions with Ford Motor Company, ultimately serving as vice president and chief technical officer. After leaving Ford, he remained active in the Mobility sector, serving in several non-executive director roles and working with start-up and early-stage companies. He has also been on the board of FISITA since 2012 and served as president for the 2014-2016 term. President Mascarenas is a Fellow of SAE International and served as General Chairperson for the 2010 World Congress and Convergence. In 2015, President Mascarenas was awarded an Order of the British Empire (OBE), by Her Majesty Queen Elizabeth II, in recognition of his services to the Automotive Industry.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/mascarenas_2019.jpg);"></div>
