<div class="bio">
    <h1>John L. Mason</h1>
    <h2>1990 SAE President</h2>

      <p>1990 SAE International President Dr. John L. Mason joined The Garrett Corporation in 1950 and became its vice president of engineering in 1972. Fifteen years later, President Mason was appointed to vice president of engineering & technology for the company’s successor; Allied-Signal Aerospace. During his time at Allied-Signal Aerospace, Mason was on advisory boards including NASA and the National Institute of Standards. He also had a long record with SAE, serving on many boards and technical committees. He wrote nearly fifty technical papers and held six patents.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/mason_1990.jpg);"></div>
