<div class="bio">
    <h1>Philip J. Mazziotti</h1>
    <h2>1981 SAE President</h2>

      <p>Like many before him, SAE International’s President of 1981 spent time in the service during WWII. President Philip Mazziotti was a fighter pilot in the armed forces. Later, he became a draftsman in Dana Corporations’ Toledo plant in 1941. Twelve years later, he became the chief engineer of the universal joint division. By 1963, Mazziotti was named the director of research and development. By 1975, among other promotions, President Mazziotti was appointed to the newly created position of vice president of product. Mazziotti also held multiple positions within SAE: Director, Chairman of the Finance Committee, a member of the Executive Committee and an elected ‘Fellow.’</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/mazziotti_1981.jpg);"></div>
