<div class="bio">
    <h1>Leo A. McReynolds</h1>
    <h2>1978 SAE President</h2>

      <p>President McReynolds came from a long career at Phillips Petroleum Company. With an educational background in chemical engineering and chemistry, President McReynolds worked his way up to become the manager of the Environment and Consumer Protection Division. He also served as organizer of the Air Pollution and Research Advisory Committee (APRAC) of the Coordinating Research Council in 1967. President McReynolds urged awareness of energy conservation not only to the engineering community, but to the public as well. During his tenure, the SAE Women Engineers Committee was founded.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/mcreynolds_1978.jpg);"></div>
