<div class="bio">
    <h1>Gordon H. Millar</h1>
    <h2>1984 SAE President</h2>

      <p>SAE International’s President of 1984, Dr. Gordon H. Millar, had a professional career with several major players of today’s auto and aero industries. Dr. Millar worked for Ford Motor Company, Meriam Instrument Company, and McCulloch Corporation. During his time at McCulloch, Millar developed a lean oil mix and surface gap ignition system for outboard motors that became an industry standard. Millar holds a total of seven patents, including the lean oil mix advent. President Millar also spent time with NASA to increase the involvement of private enterprise in cooperative research. President Millar then went on to Deere & Company to be their vice president of engineering. He authored several papers for SAE.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/millar_1984.jpg);"></div>
