<div class="bio">
    <h1>Cuneyt L. Oge</h1>
    <h2>2016 SAE President</h2>

      <p>President Cuneyt Oge of 2016 embodies the global spirit of SAE International. Oge was born in Turkey, went to high school in Europe, and attended college in the U.S. He learned to speak multiple languages and has worked worldwide. Oge retired as Partner in PWC’s PRTM Management Consultants in 2013. He spent the entirety of his career serving the aero and auto industries. He has been a high-end consultant for numerous key players of major industries, and an SAE member for more than twenty years. Along with being a member, Oge served on the Board of Directors and on the Foundation Board of Trustees.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/oge_2016.jpg);"></div>
