<div class="bio">
    <h1>Douglas Patton</h1>
    <h2>2017 SAE President</h2>

      <p>2017 SAE International’s President was Douglas Patton. President Patton came from the prestigious automotive mega-supplier, DENSO. Prior to DENSO, Patton worked as a release engineer and senior market analyst for Caterpillar. President Patton has been a member of SAE since 1987 and has sat on multiple committees. He played a huge role in SAE's development and push for STEM programs nationwide. President Patton also put emphasis on cybersecurity for niche industries such as agriculture and construction. </p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/patton_2017.jpg);"></div>
