<div class="bio">
    <h1>Reginald J.S. Pigott</h1>
    <h2>1948 SAE President</h2>

      <p>SAE International’s President of 1948 was American-educated Englishman, Reginald J.S. Pigott. During his presidential year, he led a reorganization of SAE’s Membership Grading Committee personnel and procedures. Pigott was the chief engineer of Gulf Research & Development Co., in Pittsburgh, Pennsylvania. Pigott had more than thirty patents and helped write nearly forty technical papers. He had experience as a chief draftsman, assistant engineer, consulting engineer, superintendent of construction, and several other roles.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/pigott_1948.jpg);"></div>
