<div class="bio">
    <h1>Leonard Raymond</h1>
    <h2>1959 SAE President</h2>

      <p>SAE International’s 1959 President is known for his valuable contributions to the Planning for Progress reorganization, key technical papers, and service as SAE’s International Ambassador of Good Will. President Leonard ‘Len’ Raymond had over thirty years of experience by the time he took his presidency. He acquired that experience from his time at Texas Company in 1928 and later Socony Mobil where he became the chief automotive engineer for research.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/raymond_1959.jpg);"></div>
