<div class="bio">
    <h1>Randall R. Richards</h1>
    <h2>1994 SAE President</h2>

      <p>The 1994 SAE President, Randall Richards, began his engineering career working for Caterpillar in 1970 and became its manager of corporate sustainability. Richards has been active in SAE since 1980. President Richards has been both a member of the Brazil Advisory Committee and the Development Program Coordinating Committee. He is best remembered for his work developing and supporting the SAE Brasil affiliate.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/richards_1994.jpg);"></div>
