<div class="bio">
    <h1>Rodger F. Ringham</h1>
    <h2>1976 SAE President</h2>

      <p>President Ringham took office in February of 1976, following the unfortunate passing of Ernest S. Starkman. Ringham had a strong involvement with SAE International and a rich engineering background with an abundant amount of professional experience. Ringham’s career began as a junior aerodynamics engineer at United Aircraft within the Vought Sikorsky Division. Within twenty-two years, he was elected vice president of the division with responsibility for logistics, advanced systems and all engineering activities at LTV Aerospace Corporation and directing more than 5,000 employees. He was the vice president of International Harvester Company. Ringham served as VP to several organizations, represented multiple boards, and was a member of many organizations including: the Military Aircraft Committee of Aeronautical Activity, American National Standards Institute (ANSI), Engineering Advisory Committee of the Motor Vehicle Manufacturers Association.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/ringham_1976.jpg);"></div>
