<div class="bio">
    <h1>James E. “Ted” Robertson</h1>
    <h2>2005 SAE President</h2>

      <p>2005 was SAE International’s centennial. The President that year was Ted Robertson. Robertson was with General Motors for 35 years, as chief engineer of numerous car and truck programs, became vice chairman of America Specialty Cars (ASC), and then chief technical officer for Magna International. President Robertson served SAE in almost every capacity from the student level at the University of Toronto to a member of the blue-ribbon panel. President Robertson represented SAE on the FISITA Council and became President of FISITA. He is a Fellow of SAE, a Fellow of the Canadian Academy of Engineering, a Professional Engineer (PE), a licensed pilot, authored many papers, and holds six patents.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/robertson_2005.jpg);"></div>
