<div class="bio">
    <h1>Dale Roeder</h1>
    <h2>1951 SAE President</h2>

      <p>Dale Roeder, SAE International’s President of 1951, had a long-standing history with Ford Motor Company. President Roeder first obtained a bachelor’s degree in Mechanical Engineering in 1925 from Iowa State University. Soon after, he took a position with Ford. Along with trucks and tractors, Roeder also oversaw Ford’s twenty-two hundred acres of experimental farms. Through hard work and perseverance, President Roeder became chief engineer of the Ford Motor Tractor Division before his retirement in 1963.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/roeder_1951.jpg);"></div>
