<div class="bio">
    <h1>Delmar G. Roos</h1>
    <h2>1934 SAE President</h2>

      <p>Delmar “Barney” Roos, who served as SAE International’s 1934 President, worked on radio and turbine development after his 1911 graduation from Cornell University. After working at Locomobile and Marmon, he joined Studebaker in 1926 and became chief engineer. Following his tenure at SAE, he worked as a consultant to the Rootes Group in England, before joining Willys. He is noted as the father of the World War II Jeep, known as the Willys MB.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/roos_1934.jpg);"></div>
