<div class="bio">
    <h1>C.G. Arthur Rosen</h1>
    <h2>1955 SAE President</h2>

      <p>Arthur Rosen became President in 1955, on the fiftieth anniversary of SAE International. In 1915, he began work as a draftsman for Dow Pump and Diesel Engine Co., where he rose to chief engineer in less than ten years. When WWI was underway, Rosen acted as chief engineer for Pacific Diesel Engine Co. and taught courses for the University of California Extension School. Five years later, Rosen found himself at Caterpillar Tractor Co., where he successfully created the first Caterpillar diesel. During WWII, Rosen worked on several major projects concerning submarines, including prolonged underwater operations and noise discovery.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/rosen_1955.jpg);"></div>
