<div class="bio">
    <h1>Thomas W. Ryan, III</h1>
    <h2>2008 SAE President</h2>

      <p>SAE International’s President of 2008 was Dr. Thomas W. Ryan, III. President Ryan began his career as an assistant professor at the Pennsylvania State University, then went on to specialize in engines at the Southwest Research Institute. Dr. Ryan has both applied and basic combustion expertise and has implemented both real and simulated combustion environments. Along with his research in combustion, Ryan also has worked extensively with major engine OEMs, government agencies, and lubricant companies. Dr. Ryan began his SAE career as a member during his graduate studies at Penn State. He has had over one hundred publications in the areas of engine, fuels, and combustion. He has sat on numerous committees and has been a board or chair member for several projects.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/ryan_2008.jpg);"></div>
