<div class="bio">
    <h1>Arthur J. Scaife</h1>
    <h2>1932 SAE President</h2>

      <p>Arthur Scaife began his career at the White Sewing Machine Company in the automobile department and remained there for the majority of his career, designing White motor vehicles. His pragmatic administration as 1932 SAE International President off-set much of the Depression’s detrimental economic effects. He supported greater research on diesel fuels and lubricants during his term. </p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/scaife_1932.jpg);"></div>
