<div class="bio">
    <h1>Neil A. Schilke</h1>
    <h2>2001 SAE President</h2>

      <p>President Neil A. Schilke held research, engineering, and executive positions during an impressive forty-year career at General Motors; he retired as general director of engineering. President Schilke was a Founding Director of SAE Foundation Canada and Co-founder of the SAE Automotive Resources Institute. The SAE Foundation Cup is named in his honor. He was elected an SAE Fellow in 1993. Schilke served on the Board of Directors as Assistant Treasurer, Treasurer, and President. He was Board liaison for the Women Engineers Committee to help mainstream their ideas into SAE. Schilke received the Edward N. Cole Award for Automotive Engineering Innovation, the Ableson Award for Visionary Leadership, and the SAE Medal of Honor; his long-term SAE commitment earned him Emeritus status.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/schilke_2001.jpg);"></div>
