<div class="bio">
    <h1>Jack W. Schmidt</h1>
    <h2>1992 SAE President</h2>

      <p>Jack W. Schmidt began his career at General Motors shortly after graduating from the General Motors Institute in 1954 with a Bachelor’s in Mechanical Engineering. President Schmidt retired from GM as the company’s director of Powertrain Systems. He was active in the Indiana and Detroit Sections and chaired in both. He also chaired the VISION 2000 Program Office. President Schmidt held five patents and accomplished much in the ways of processes for standardization. </p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/schmidt_1992.jpg);"></div>
