<div class="bio">
    <h1>Gordon L. Scofield</h1>
    <h2>1977 SAE President</h2>

      <p>President Gordon Scofield was another scholarly man as he was head of the department of Mechanical Engineering at Michigan Technological University. His bachelors, masters, and PhD were all in mechanical engineering, and he held teaching positions at South Dakota State University and University of Missouri-Rolla. Scofield was a specialist in radiative heat transfer and the combustion process. Exceptional at bridging the gap between academia and industry, Scofield kept the academic community well-informed of where the industry ventured. President Scofield held several positions at SAE before becoming President, such as a member of the Sections Board, the Engineering Activity Board, the Board of Directors, and numerous others. In 1977, SAE established the Fellow Award in recognition of achievements in technology and engineering.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/scofield_1977.jpg);"></div>
