<div class="bio">
    <h1>S.M. Shahed</h1>
    <h2>2002 SAE President</h2>

      <p>SAE International’s President during 2002 was S.M. Shahed. President Shahed served as vice president of advanced products and systems at Garrett Engine Boosting Systems. He has served on many SAE boards and has won many awards for his technical papers. Shahed taught at the University of California-Berkeley and the University of Texas-San Antonio. At SAE, he is remembered not only for his technical writings but also for selecting and establishing the first sector vice president. </p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/shahed_2002.jpg);"></div>
