<div class="bio">
    <h1>Richard O. Schaum</h1>
    <h2>2007 SAE President</h2>

      <p>President Schaum is a forty-year veteran of the automotive industry and was SAE International’s President of 2007. Schaum rose through the ranks at Daimler Chrysler Corporation to the position of executive vice president of product development and quality, a position he held from 1999 to 2003. Schaum has served on the board of directors of BorgWarner Inc., SAE International, Sterling Construction Company, Gentex Corporation, and the Advisory Board for the SAE Automotive Resources Institute. In addition, he works as an automotive consultant and as general manager for 3rd Horizon Associates LLC, a company involved in technology assessment and development. President Schaum was recognized as an SAE Fellow for playing a key role in the development of Chrysler’s emission control systems which met regulatory requirements at benchmark levels of cost-efficiency. </p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/shaum_2007.jpg);"></div>
