<div class="bio">
    <h1>Mac Short</h1>
    <h2>1943 SAE President</h2>

      <p>Mac Short, World War I pilot and 1943 SAE President, spent his engineering career in aviation. One of the founders of Stearman Aircraft Company, he became its vice president of engineering, and later a founder and vice president of Lockheed Aircraft Company. His term as President saw expanded results from SAE’s Aeronautical and Technical Committees in the war effort, and SAE International established the War Activity Office in Detroit.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/short_1943.jpg);"></div>
