<div class="bio">
    <h1>James E. Smith</h1>
    <h2>2009 SAE President</h2>

      <p>SAE International’s President of 2009 was an active member of SAE International for more than twenty years and served on the organization’s Board of Directors from 2005-2008. Dr. Smith, an SAE Fellow, was a research engineer for the U.S. Department of Energy prior to joining the WVU faculty in 1984. President Smith has received an abundance of awards for his efforts for his many years of teaching, research, and service. He is widely respected as a leader for his development of various advanced technology solutions, innovative design concepts, and many contributions to science and engineering. He has several dozen patents and has published more than two-hundred-fifty adjudicated conference papers, journal articles, or bound transaction papers, in addition to many project final reports and un-refereed publications.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/smith_2009.jpg);"></div>
