<div class="bio">
    <h1>Henry Souther</h1>
    <h2>1911 SAE President</h2>

      <p>1911 was an incredibly busy year for SAE International as well as its President, Henry Souther. During 1911, SAE became formally incorporated and its competitor, The Association of Licensed Automobile Manufacturers, dissolved following a court ruling. This enabled SAE to take over all ALAM’s technical sections and started SAE’s standardization program. This is also the year that membership became open to anyone who was in a responsible commercial or financial capacity. President Souther was the first chairman of the SAE Standards Committee and helped establish Langley Field, the Army Air Corps, and Army motor-vehicle transportation. </p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/souther_1911.jpg);"></div>
