<div class="bio">
    <h1>Stanwood W. Sparrow</h1>
    <h2>1949 SAE President</h2>

      <p>President Sparrow was elected in January 1949. Sparrow was a graduate of Worcester Polytechnic Institute and immediately began working for Stevens-Duryea. Following his time at Stevens-Duryea, during World War I, Sparrow worked for the National Bureau of Standards on aircraft engines. In 1927, President Sparrow joined Studebaker as a research engineer and later became chief engineer. During WWII, Sparrow oversaw the building of Wright Cyclone engines. He was nationally known as a top engine and research expert and authored numerous SAE papers including one milestone named <i>My Friend the Engine</i>. </p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/sparrow_1949.jpg);"></div>
