<div class="bio">
    <h1>Clarence W. Spicer</h1>
    <h2>1938 SAE President</h2>

      <p>President Spicer, SAE International’s President in 1938, had origins at a creamery in Illinois. It wasn’t until 1899, when Spicer was 24, that he first enrolled at Cornell University, taking courses in mechanical and electrical engineering. When Spicer undertook the ‘design of a motor car’ as a class assignment, he developed a universal joint that was practical for automotive use. Spicer applied, and received, a patent for the joint in 1903 and began selling it in 1904. President Spicer established the Spicer Universal Joint Manufacturing Company in 1905. Over a century later, it is better known as Dana Holding Corporation and sells multiple types of automotive parts with billions of dollars in revenue. During his tenure at SAE, he laid the foundation for more activities in railway engineering.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/spicer_1938.jpg);"></div>
