<div class="bio">
    <h1>Ernest S. Starkman</h1>
    <h2>1976 SAE President-elect</h2>

      <p>President-elect Ernest “Erni” Starkman spent most of his career as a Professor at the University of California at Berkeley. Starkman taught courses relating to combustion-generated air pollution and its effects. He was the vice president of environmental activities at GM for three years and he was a member of the SAE Board of Directors. Sadly, Starkman passed away before serving his full term in office.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/starkman_1976.jpg);"></div>
