<div class="bio">
    <h1>William B. Stout</h1>
    <h2>1935 SAE President</h2>

      <p>William B. Stout was an engineer, inventor, speaker, and designer with experience in both the automotive and aviation fields. Stout worked for the Packard Motor Company in 1916 before he started the Stout Engineering Company, known for building prototypes like the Stout Scarab car in 1932. In 1934, he founded the Stout Motor Car Company. Stout’s aviation career led to the development of an all-metal cantilever monoplane which he introduced while working for United Aircraft Engineering. Stout is also recognized for his originality in prefab housing and the sliding car seat.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/stout_1935.jpg);"></div>
