<div class="bio">
    <h1>Ralph R. Teetor</h1>
    <h2>1936 SAE President</h2>

      <p>A longtime president of the automotive parts manufacturer, The Perfect Circle Co., Ralph Teetor became SAE International’s President in 1936. President Teetor was a prolific inventor who invented Speedostat, the cruise-control device used on many automobiles. Teetor had a highly developed sense of touch that proved to be incredibly helpful in developing a technique for balancing steam turbine rotors used in Navy torpedo-boat destroyers. President Teetor was blinded at the age of five, and though this was not a topic of conversation, his enhanced sense of touch proved helpful in the dynamic balancing of large components.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/teetor_1936.jpg);"></div>
