<div class="bio">
    <h1>Jack E. Thompson</h1>
    <h2>2003 SAE President</h2>

      <p>2003 SAE International President, Jack E. Thompson, spent the majority of his career with Chrysler, where he and his team designed the first Chrysler minivan in 1979. President Thompson also founded and sponsored Chrysler’s Engineering Book of Knowledge. Dr. Thompson is the co-author of more than five papers regarding vehicle crash, NVH analysis and CAD method. He was elected as an SAE Fellow in 1999. Thompson served on the SAE Foundation Board of Trustees and was elected to the Board of Directors. </p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/thompson_2003.jpg);"></div>
