<div class="bio">
    <h1>Duane Tiede</h1>
    <h2>2004 SAE President</h2>

      <p>SAE International’s President of 2004 was Duane Tiede. Tiede had a twenty-one-year long career with Deere and Company before moving to GNH Global. At his retirement, he was their vice president of functional engineering. President Tiede was active at a national and sectional level within SAE. He served on the Board of Directors and the Off-Highway Continuity/Advisory Committee. He has also written numerous technical papers.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/tiede_2004.jpg);"></div>
