<div class="bio">
    <h1>William H. Van Dervoort</h1>
    <h2>1915 SAE President</h2>

      <p>The Moline Auto Company was founded in Moline, Illinois by SAE International’s 1915 President, William Van Dervoort. President Van Dervoort served on the Council of National Defense and the Aviation Section of the Signal Corps. During Van Dervoort’s term, SAE’s activities expanded into tractor, marine, industrial, and aeronautical areas. The first student branch was also formed at Cornell University.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/van_dervoort_1915.jpg);"></div>
