<div class="bio">
    <h1>Claude A. Verbal</h1>
    <h2>1996 SAE President</h2>

      <p>SAE International’s President of 1996 spent the majority of his career at General Motors. President Claude A. Verbal received his Bachelor’s in Mechanical Engineering from North Carolina State University and has been a registered professional engineer since 1971. President Verbal joined the Buick Motor Division of GM in 1964 as a detail engineer. He became a senior product engineer in 1967 and oversaw Buick’s activity at the Milford Proving Grounds. Eventually, President Verbal was promoted to plant manager in service parts operations for GM. His involvement with SAE surpasses thirty-five years, and he has served on more than five committees.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/verbal_1996.jpg);"></div>
