<section id="view_president">
    
    <div class="president_bio">
        
        <!-- the partial for the president bio page -->
        <div class="president_content" data-president="ableson_1999">{{> ableson_1999}}</div>   
    	<div class="president_content" data-president="alden_1912">{{> alden_1912}}</div>
    	<div class="president_content" data-president="aravosis_1988">{{> aravosis_1988}}</div> 	
    	<div class="president_content" data-president="aubin_1993">{{> aubin_1993}}</div>  
    	<div class="president_content" data-president="alden_1912">{{> alden_1912}}</div>
        <div class="president_content" data-president="alden_1923">{{> alden_1923}}</div>
    	<div class="president_content" data-president="aravosis_1988">{{> aravosis_1988}}</div>
    	<div class="president_content" data-president="aubin_1993">{{> aubin_1993}}</div>
    	<div class="president_content" data-president="bachman_1922">{{> bachman_1922}}</div>
        <div class="president_content" data-president="baranescu_2000">{{> baranescu_2000}}</div>
        <div class="president_content" data-president="barnard_1952">{{> barnard_1952}}</div>
        <div class="president_content" data-president="barr_1970">{{> barr_1970}}</div>
        <div class="president_content" data-president="beck_1982">{{> beck_1982}}</div>
        <div class="president_content" data-president="beecroft_1921">{{> beecroft_1921}}</div>
        <div class="president_content" data-president="bendix_1931">{{> bendix_1931}}</div>
        <div class="president_content" data-president="brock_1971">{{> brock_1971}}</div>
        <div class="president_content" data-president="brown_2010">{{> brown_2010}}</div>
        <div class="president_content" data-president="buckendale_1946">{{> buckendale_1946}}</div>
        <div class="president_content" data-president="burks_1966">{{> burks_1966}}</div>
        <div class="president_content" data-president="cass_1953">{{> cass_1953}}</div>
    	<div class="president_content" data-president="chesebrough_1960">{{> chesebrough_1960}}</div>
    	<div class="president_content" data-president="coffin_1910">{{> coffin_1910}}</div>
    	<div class="president_content" data-president="coleman_1987">{{> coleman_1987}}</div>
    	<div class="president_content" data-president="colwell_1941">{{> colwell_1941}}</div>
    	<div class="president_content" data-president="colyer_1983">{{> colyer_1983}}</div>
        <div class="president_content" data-president="crane_1924">{{> crane_1924}}</div>
        <div class="president_content" data-president="crawford_1945">{{> crawford_1945}}</div>
        <div class="president_content" data-president="creson_1958">{{> creson_1958}}</div>
        <div class="president_content" data-president="davidson_1939">{{> davidson_1939}}</div>
        <div class="president_content" data-president="delaney_1956">{{> delaney_1956}}</div>
        <div class="president_content" data-president="dickinson_1933">{{> dickinson_1933}}</div>
        <div class="president_content" data-president="donaldson_1912">{{> donaldson_1912}}</div>
        <div class="president_content" data-president="dunham_1917">{{> dunham_1917}}</div>
        <div class="president_content" data-president="dyment_1964">{{> dyment_1964}}</div>
        <div class="president_content" data-president="eddy_1957">{{> eddy_1957}}</div>
        <div class="president_content" data-president="ellis_1973">{{> ellis_1973}}</div>
    	<div class="president_content" data-president="eltinge_1991">{{> eltinge_1991}}</div>
    	<div class="president_content" data-president="esty_1968">{{> esty_1968}}</div>
    	<div class="president_content" data-president="fay_1908">{{> fay_1908}}</div>
    	<div class="president_content" data-president="fink_1962">{{> fink_1962}}</div>
    	<div class="president_content" data-president="fleuelling_1979">{{> fleuelling_1979}}</div>
        <div class="president_content" data-president="frudden_1947">{{> frudden_1947}}</div>
        <div class="president_content" data-president="gebhardt_1974">{{> gebhardt_1974}}</div>
        <div class="president_content" data-president="gradu_2018">{{> gradu_2018}}</div>
        <div class="president_content" data-president="greaves_2015">{{> greaves_2015}}</div>
        <div class="president_content" data-president="green_1985">{{> green_1985}}</div>
        <div class="president_content" data-president="hancock_2014">{{> hancock_2014}}</div>
        <div class="president_content" data-president="henderson_2006">{{> henderson_2006}}</div>
        <div class="president_content" data-president="herrington_1942">{{> herrington_1942}}</div>
        <div class="president_content" data-president="hess_1909">{{> hess_1909}}</div>
        <div class="president_content" data-president="hillebrand_2013">{{> hillebrand_2013}}</div>
        <div class="president_content" data-president="holloway_1997">{{> holloway_1997}}</div>
    	<div class="president_content" data-president="horning_1925">{{> horning_1925}}</div>
    	<div class="president_content" data-president="huebner_1975">{{> huebner_1975}}</div>
    	<div class="president_content" data-president="huff_1916">{{> huff_1916}}</div>
    	<div class="president_content" data-president="hunt_1927">{{> hunt_1927}}</div>
    	<div class="president_content" data-president="isbrandt_1967">{{> isbrandt_1967}}</div>
        <div class="president_content" data-president="james_1944">{{> james_1944}}</div>
        <div class="president_content" data-president="kettering_1918">{{> kettering_1918}}</div>
        <div class="president_content" data-president="kittler_1963">{{> kittler_1963}}</div>
        <div class="president_content" data-president="klegon_2012">{{> klegon_2012}}</div>
        <div class="president_content" data-president="kleine_2011">{{> kleine_2011}}</div>
        <div class="president_content" data-president="kucher_1961">{{> kucher_1961}}</div>
        <div class="president_content" data-president="leinonen_1995">{{> leinonen_1995}}</div>
        <div class="president_content" data-president="leland_1914">{{> leland_1914}}</div>
        <div class="president_content" data-president="leonard_1998">{{> leonard_1998}}</div>
        <div class="president_content" data-president="litle_1926">{{> litle_1926}}</div>
        <div class="president_content" data-president="littlewood_1954">{{> littlewood_1954}}</div>
    	<div class="president_content" data-president="mabley_1989">{{> mabley_1989}}</div>
    	<div class="president_content" data-president="macdonald_1980">{{> macdonald_1980}}</div>
    	<div class="president_content" data-president="macgregor_1965">{{> macgregor_1965}}</div>
    	<div class="president_content" data-president="manganiello_1972">{{> manganiello_1972}}</div>
    	<div class="president_content" data-president="manly_1919">{{> manly_1919}}</div>
        <div class="president_content" data-president="marmon_1913">{{> marmon_1913}}</div>
        <div class="president_content" data-president="mascarenas_2019">{{> mascarenas_2019}}</div>
        <div class="president_content" data-president="mason_1990">{{> mason_1990}}</div>
        <div class="president_content" data-president="mazziotti_1981">{{> mazziotti_1981}}</div>
        <div class="president_content" data-president="mcreynolds_1978">{{> mcreynolds_1978}}</div>
        <div class="president_content" data-president="millar_1984">{{> millar_1984}}</div>
        <div class="president_content" data-president="myers_1969">{{> myers_1969}}</div>
        <div class="president_content" data-president="nutt_1940">{{> nutt_1940}}</div>
        <div class="president_content" data-president="oge_2016">{{> oge_2016}}</div>
        <div class="president_content" data-president="patton_2017">{{> patton_2017}}</div>
        <div class="president_content" data-president="pigott_1948">{{> pigott_1948}}</div>
    	<div class="president_content" data-president="raymond_1959">{{> raymond_1959}}</div>
    	<div class="president_content" data-president="richards_1994">{{> richards_1994}}</div>
    	<div class="president_content" data-president="riker_1905">{{> riker_1905}}</div>
    	<div class="president_content" data-president="starkman_1976">{{> starkman_1976}}</div>
        <div class="president_content" data-president="ringham_1976">{{> ringham_1976}}</div>
        <div class="president_content" data-president="robertson_2005">{{> robertson_2005}}</div>
        <div class="president_content" data-president="roeder_1951">{{> roeder_1951}}</div>
        <div class="president_content" data-president="roos_1934">{{> roos_1934}}</div>
        <div class="president_content" data-president="rosen_1955">{{> rosen_1955}}</div>
        <div class="president_content" data-president="ryan_2008">{{> ryan_2008}}</div>
        <div class="president_content" data-president="scaife_1932">{{> scaife_1932}}</div>
        <div class="president_content" data-president="schilke_2001">{{> schilke_2001}}</div>
        <div class="president_content" data-president="schmidt_1992">{{> schmidt_1992}}</div>
        <div class="president_content" data-president="scofield_1977">{{> scofield_1977}}</div>
        <div class="president_content" data-president="shahed_2002">{{> shahed_2002}}</div>
        <div class="president_content" data-president="shaum_2007">{{> shaum_2007}}</div>
        <div class="president_content" data-president="short_1943">{{> short_1943}}</div>
        <div class="president_content" data-president="smith_2009">{{> smith_2009}}</div>
        <div class="president_content" data-president="souther_1911">{{> souther_1911}}</div>
        <div class="president_content" data-president="sparrow_1949">{{> sparrow_1949}}</div>
        <div class="president_content" data-president="spicer_1938">{{> spicer_1938}}</div>
        <div class="president_content" data-president="stout_1935">{{> stout_1935}}</div>
        <div class="president_content" data-president="strickland_1929">{{> strickland_1929}}</div>
        <div class="president_content" data-president="teetor_1936">{{> teetor_1936}}</div>
        <div class="president_content" data-president="thompson_2003">{{> thompson_2003}}</div>
        <div class="president_content" data-president="tiede_2004">{{> tiede_2004}}</div>
        <div class="president_content" data-president="van_dervoort_1915">{{> van_dervoort_1915}}</div>
        <div class="president_content" data-president="verbal_1996">{{> verbal_1996}}</div>
        <div class="president_content" data-president="vincent_1920">{{> vincent_1920}}</div>
        <div class="president_content" data-president="wall_1928">{{> wall_1928}}</div>
        <div class="president_content" data-president="walter_1986">{{> walter_1986}}</div>
        <div class="president_content" data-president="warner_1930">{{> warner_1930}}</div>
        <div class="president_content" data-president="woolson_1937">{{> woolson_1937}}</div>
        <div class="president_content" data-president="zarfos_2020">{{> zarfos_2020}}</div>
        <div class="president_content" data-president="zeder_1950">{{> zeder_1950}}</div>
        <div class="president_content" data-president="hemphill_2021">{{> hemphill_2021}}</div>
        <div class="president_content" data-president="srinath_2022">{{> srinath_2022}}</div>
        
        
    </div>
    
    <!-- the slider nav --> 
    <div class="trigger"></div>
    <div class="nav_area">
        
        <div class="button-next"></div>
        <div class="button-prev"></div>
        
        <div class="center-arrow"></div>
        <div class="swiper-container">
            <div class="line"></div>
            
            <ul class="swiper-wrapper">
                <li class="swiper-slide prez multi" data-html="riker_1905">
                    <img src="assets/img/presidents_images/200x200/riker_1905.jpg" />
                    <div class="year">1905&ndash;<br />1907</div>
                    <div class="name">Andrew L. <br />Riker</div>
                </li>
                
                <li class="swiper-slide prez" data-html="fay_1908">
                    <img src="assets/img/presidents_images/200x200/fay_1908.jpg" />
                    <div class="year">1908</div>
                    <div class="name">Thomas J. <br />Fay</div>
                </li>
                
                <li class="swiper-slide prez" data-html="hess_1909">
                    <img src="assets/img/presidents_images/200x200/hess_1909.jpg" />
                    <div class="year">1909</div>
                    <div class="name">Henry <br />Hess</div>
                </li>
                
                <li class="swiper-slide prez" data-html="coffin_1910">
                    <img src="assets/img/presidents_images/200x200/coffin_1910.jpg" />
                    <div class="year">1910</div>
                    <div class="name">Howard E. <br />Coffin</div>
                </li>
                
                <li class="swiper-slide prez" data-html="souther_1911">
                    <img src="assets/img/presidents_images/200x200/souther_1911.jpg" />
                    <div class="year">1911</div>
                    <div class="name">Henry <br />Souther</div>
                </li>
                
                <li class="swiper-slide prez" data-html="donaldson_1912">
                    <img src="assets/img/presidents_images/200x200/donaldson_1912.jpg" />
                    <div class="year">1912</div>
                    <div class="name">Henry L. <br />Donaldson</div>
                </li>
        
                <li class="swiper-slide prez" data-html="alden_1912">
                    <img src="assets/img/presidents_images/200x200/alden_1912.jpg" />
                    <div class="year">1912</div>
                    <div class="name">Herbert W. <br />Alden</div>
                </li>
                
                <li class="swiper-slide prez" data-html="marmon_1913">
                    <img src="assets/img/presidents_images/200x200/marmon_1913.jpg" />
                    <div class="year">1913</div>
                    <div class="name">Howard <br />Marmon</div>
                </li>
                
                <li class="swiper-slide prez" data-html="leland_1914">
                    <img src="assets/img/presidents_images/200x200/leland_1914.jpg" />
                    <div class="year">1914</div>
                    <div class="name">Henry M. <br />Leland</div>
                </li>
                
                <li class="swiper-slide prez" data-html="van_dervoort_1915">
                    <img src="assets/img/presidents_images/200x200/van_dervoort_1915.jpg" />
                    <div class="year">1915</div>
                    <div class="name">William H. <br />Van Dervoort</div>
                </li>
                
                <li class="swiper-slide prez" data-html="huff_1916">
                    <img src="assets/img/presidents_images/200x200/huff_1916.jpg" />
                    <div class="year">1916</div>
                    <div class="name">Russell <br />Huff</div>
                </li>
                
                <li class="swiper-slide prez" data-html="dunham_1917">
                    <img src="assets/img/presidents_images/200x200/dunham_1917.jpg" />
                    <div class="year">1917</div>
                    <div class="name">George W.<br />Dunham</div>
                </li>
                
                <li class="swiper-slide prez" data-html="kettering_1918">
                    <img src="assets/img/presidents_images/200x200/kettering_1918.jpg" />
                    <div class="year">1918</div>
                    <div class="name">Charles F. <br />Kettering</div>
                </li>
                
                <li class="swiper-slide prez" data-html="manly_1919">
                    <img src="assets/img/presidents_images/200x200/manly_1919.jpg" />
                    <div class="year">1919</div>
                    <div class="name">Charles M.<br />Manly</div>
                </li>
                
                <li class="swiper-slide prez" data-html="vincent_1920">
                    <img src="assets/img/presidents_images/200x200/vincent_1920.jpg" />
                    <div class="year">1920</div>
                    <div class="name">Jesse G. <br />Vincent</div>
                </li>
                
                <li class="swiper-slide prez" data-html="beecroft_1921">
                    <img src="assets/img/presidents_images/200x200/beecroft_1921.jpg" />
                    <div class="year">1921</div>
                    <div class="name">David <br />Beecroft</div>
                </li>
                
                <li class="swiper-slide prez" data-html="bachman_1922">
                    <img src="assets/img/presidents_images/200x200/bachman_1922.jpg" />
                    <div class="year">1922</div>
                    <div class="name">Benjamin B. <br />Bachman</div>
                </li>
                
                <li class="swiper-slide prez" data-html="alden_1923">
                    <img src="assets/img/presidents_images/200x200/alden_1912.jpg" />
                    <div class="year">1923</div>
                    <div class="name">Herbert W. <br />Alden</div>
                </li>
                
                <li class="swiper-slide prez" data-html="crane_1924">
                    <img src="assets/img/presidents_images/200x200/crane_1924.jpg" />
                    <div class="year">1924</div>
                    <div class="name">Henry M. <br />Crane</div>
                </li>
                
                <li class="swiper-slide prez" data-html="horning_1925">
                    <img src="assets/img/presidents_images/200x200/horning_1925.jpg" />
                    <div class="year">1925</div>
                    <div class="name">Harry L. <br />Horning</div>
                </li>
                
                <li class="swiper-slide prez" data-html="litle_1926">
                    <img src="assets/img/presidents_images/200x200/litle_1926.jpg" />
                    <div class="year">1926</div>
                    <div class="name">Thomas J. <br />Litle, Jr.</div>
                </li>
                
                <li class="swiper-slide prez" data-html="hunt_1927">
                    <img src="assets/img/presidents_images/200x200/hunt_1927.jpg" />
                    <div class="year">1927</div>
                    <div class="name">John H. <br />Hunt</div>
                </li>
                
                <li class="swiper-slide prez" data-html="wall_1928">
                    <img src="assets/img/presidents_images/200x200/wall_1928.jpg" />
                    <div class="year">1928</div>
                    <div class="name">William G. <br />Wall</div>
                </li>
                
                <li class="swiper-slide prez" data-html="strickland_1929">
                    <img src="assets/img/presidents_images/200x200/strickland_1929.jpg" />
                    <div class="year">1929</div>
                    <div class="name">William R. <br />Strickland</div>
                </li>
                
                <li class="swiper-slide prez" data-html="warner_1930">
                    <img src="assets/img/presidents_images/200x200/warner_1930.jpg" />
                    <div class="year">1930</div>
                    <div class="name">Edward P. <br />Warner</div>
                </li>
                
                <li class="swiper-slide prez" data-html="bendix_1931">
                    <img src="assets/img/presidents_images/200x200/bendix_1931.jpg" />
                    <div class="year">1931</div>
                    <div class="name">Vincent <br />Bendix</div>
                </li>
                
                <li class="swiper-slide prez" data-html="scaife_1932">
                    <img src="assets/img/presidents_images/200x200/scaife_1932.jpg" />
                    <div class="year">1932</div>
                    <div class="name">Arthur J. <br />Scaife</div>
                </li>
                
                <li class="swiper-slide prez" data-html="dickinson_1933">
                    <img src="assets/img/presidents_images/200x200/dickinson_1933.jpg" />
                    <div class="year">1933</div>
                    <div class="name">Hobart H. <br />Dickinson</div>
                </li>
                
                <li class="swiper-slide prez" data-html="roos_1934">
                    <img src="assets/img/presidents_images/200x200/roos_1934.jpg" />
                    <div class="year">1934</div>
                    <div class="name">Delmar G. <br />Roos</div>
                </li>
                
                <li class="swiper-slide prez" data-html="stout_1935">
                    <img src="assets/img/presidents_images/200x200/stout_1935.jpg" />
                    <div class="year">1935</div>
                    <div class="name">William B. <br />Stout</div>
                </li>
                
                <li class="swiper-slide prez" data-html="teetor_1936">
                    <img src="assets/img/presidents_images/200x200/teetor_1936.jpg" />
                    <div class="year">1936</div>
                    <div class="name">Ralph R. <br />Teetor</div>
                </li>
                
                <li class="swiper-slide prez" data-html="woolson_1937">
                    <img src="assets/img/presidents_images/200x200/woolson_1937.jpg" />
                    <div class="year">1937</div>
                    <div class="name">Harry T. <br />Woolson</div>
                </li>
                
                <li class="swiper-slide prez" data-html="spicer_1938">
                    <img src="assets/img/presidents_images/200x200/spicer_1938.jpg" />
                    <div class="year">1938</div>
                    <div class="name">Clarence W. <br />Spicer</div>
                </li>
                
                <li class="swiper-slide prez" data-html="davidson_1939">
                    <img src="assets/img/presidents_images/200x200/davidson_1939.jpg" />
                    <div class="year">1939</div>
                    <div class="name">William J. <br />Davidson</div>
                </li>
                
                <li class="swiper-slide prez" data-html="nutt_1940">
                    <img src="assets/img/presidents_images/200x200/nutt_1940.jpg" />
                    <div class="year">1940</div>
                    <div class="name">Arthur <br />Nutt</div>
                </li>
                
                <li class="swiper-slide prez" data-html="colwell_1941">
                    <img src="assets/img/presidents_images/200x200/colwell_1941.jpg" />
                    <div class="year">1941</div>
                    <div class="name">Archie T. <br />Colwell</div>
                </li>
                
                <li class="swiper-slide prez" data-html="herrington_1942">
                    <img src="assets/img/presidents_images/200x200/herrington_1942.jpg" />
                    <div class="year">1942</div>
                    <div class="name">Arthur W. <br />Herrington</div>
                </li>
                
                <li class="swiper-slide prez" data-html="short_1943">
                    <img src="assets/img/presidents_images/200x200/short_1943.jpg" />
                    <div class="year">1943</div>
                    <div class="name">Mac <br />Short</div>
                </li>
                
                <li class="swiper-slide prez" data-html="james_1944">
                    <img src="assets/img/presidents_images/200x200/james_1944.jpg" />
                    <div class="year">1944</div>
                    <div class="name">William S. <br />James</div>
                </li>
                
                <li class="swiper-slide prez" data-html="crawford_1945">
                    <img src="assets/img/presidents_images/200x200/crawford_1945.jpg" />
                    <div class="year">1945</div>
                    <div class="name">James M. <br />Crawford</div>
                </li>
                
                <li class="swiper-slide prez" data-html="buckendale_1946">
                    <img src="assets/img/presidents_images/200x200/buckendale_1946.jpg" />
                    <div class="year">1946</div>
                    <div class="name">L. Ray <br />Buckendale</div>
                </li>
                
                <li class="swiper-slide prez" data-html="frudden_1947">
                    <img src="assets/img/presidents_images/200x200/frudden_1947.jpg" />
                    <div class="year">1947</div>
                    <div class="name">C. Erwin <br />Frudden</div>
                </li>
                
                <li class="swiper-slide prez" data-html="pigott_1948">
                    <img src="assets/img/presidents_images/200x200/pigott_1948.jpg" />
                    <div class="year">1948</div>
                    <div class="name">Reginald J.S. <br />Pigott</div>
                </li>
                
                <li class="swiper-slide prez" data-html="sparrow_1949">
                    <img src="assets/img/presidents_images/200x200/sparrow_1949.jpg" />
                    <div class="year">1949</div>
                    <div class="name">Stanwood W. <br />Sparrow</div>
                </li>
                
                <li class="swiper-slide prez" data-html="zeder_1950">
                    <img src="assets/img/presidents_images/200x200/zeder_1950.jpg" />
                    <div class="year">1950</div>
                    <div class="name">James C. <br />Zeder</div>
                </li>
                
                <li class="swiper-slide prez" data-html="roeder_1951">
                    <img src="assets/img/presidents_images/200x200/roeder_1951.jpg" />
                    <div class="year">1951</div>
                    <div class="name">Dale <br />Roeder</div>
                </li>
                
                <li class="swiper-slide prez" data-html="barnard_1952">
                    <img src="assets/img/presidents_images/200x200/barnard_1952.jpg" />
                    <div class="year">1952</div>
                    <div class="name">Daniel P. <br />Barnard, IV</div>
                </li>
                
                <li class="swiper-slide prez" data-html="cass_1953">
                    <img src="assets/img/presidents_images/200x200/cass_1953.jpg" />
                    <div class="year">1953</div>
                    <div class="name">Robert <br />Cass</div>
                </li>
                
                <li class="swiper-slide prez" data-html="littlewood_1954">
                    <img src="assets/img/presidents_images/200x200/littlewood_1954.jpg" />
                    <div class="year">1954</div>
                    <div class="name">William <br />Littlewood</div>
                </li>
                
                <li class="swiper-slide prez" data-html="rosen_1955">
                    <img src="assets/img/presidents_images/200x200/rosen_1955.jpg" />
                    <div class="year">1955</div>
                    <div class="name">C.G. Arthur <br />Rosen</div>
                </li>
                
                <li class="swiper-slide prez" data-html="delaney_1956">
                    <img src="assets/img/presidents_images/200x200/delaney_1956.jpg" />
                    <div class="year">1956</div>
                    <div class="name">George A. <br />Delaney</div>
                </li>
                
                <li class="swiper-slide prez" data-html="eddy_1957">
                    <img src="assets/img/presidents_images/200x200/eddy_1957.jpg" />
                    <div class="year">1957</div>
                    <div class="name">W. Paul <br />Eddy</div>
                </li>
                
                <li class="swiper-slide prez" data-html="creson_1958">
                    <img src="assets/img/presidents_images/200x200/creson_1958.jpg" />
                    <div class="year">1958</div>
                    <div class="name">William K. <br />Creson</div>
                </li>
                
                <li class="swiper-slide prez" data-html="raymond_1959">
                    <img src="assets/img/presidents_images/200x200/raymond_1959.jpg" />
                    <div class="year">1959</div>
                    <div class="name">Leonard <br />Raymond</div>
                </li>
                
                <li class="swiper-slide prez" data-html="chesebrough_1960">
                    <img src="assets/img/presidents_images/200x200/chesebrough_1960.jpg" />
                    <div class="year">1960</div>
                    <div class="name">Harry E. <br />Chesebrough</div>
                </li>
                
                <li class="swiper-slide prez" data-html="kucher_1961">
                    <img src="assets/img/presidents_images/200x200/kucher_1961.jpg" />
                    <div class="year">1961</div>
                    <div class="name">Andrew A. <br />Kucher</div>
                </li>
                
                <li class="swiper-slide prez" data-html="fink_1962">
                    <img src="assets/img/presidents_images/200x200/fink_1962.jpg" />
                    <div class="year">1962</div>
                    <div class="name">Frank W. <br />Fink</div>
                </li>
                
                <li class="swiper-slide prez" data-html="kittler_1963">
                    <img src="assets/img/presidents_images/200x200/kittler_1963.jpg" />
                    <div class="year">1963</div>
                    <div class="name">Milton J. <br />Kittler</div>
                </li>
                
                <li class="swiper-slide prez" data-html="dyment_1964">
                    <img src="assets/img/presidents_images/200x200/dyment_1964.jpg" />
                    <div class="year">1964</div>
                    <div class="name">John T. <br />Dyment</div>
                </li>
                
                <li class="swiper-slide prez" data-html="macgregor_1965">
                    <img src="assets/img/presidents_images/200x200/macgregor_1965.jpg" />
                    <div class="year">1965</div>
                    <div class="name">John R. <br />MacGregor</div>
                </li>
                
                <li class="swiper-slide prez" data-html="burks_1966">
                    <img src="assets/img/presidents_images/200x200/burks_1966.jpg" />
                    <div class="year">1966</div>
                    <div class="name">George E. <br />Burks</div>
                </li>
                
                <li class="swiper-slide prez" data-html="isbrandt_1967">
                    <img src="assets/img/presidents_images/200x200/isbrandt_1967.jpg" />
                    <div class="year">1967</div>
                    <div class="name">Ralph H. <br />Isbrandt</div>
                </li>
                
                <li class="swiper-slide prez" data-html="esty_1968">
                    <img src="assets/img/presidents_images/200x200/esty_1968.jpg" />
                    <div class="year">1968</div>
                    <div class="name">F. Burrows <br />Esty</div>
                </li>
                
                <li class="swiper-slide prez" data-html="myers_1969">
                    <img src="assets/img/presidents_images/200x200/myers_1969.jpg" />
                    <div class="year">1969</div>
                    <div class="name">Philip S. <br />Myers</div>
                </li>
                
                <li class="swiper-slide prez" data-html="barr_1970">
                    <img src="assets/img/presidents_images/200x200/barr_1970.jpg" />
                    <div class="year">1970</div>
                    <div class="name">Harry F. <br />Barr</div>
                </li>
                
                <li class="swiper-slide prez" data-html="brock_1971">
                    <img src="assets/img/presidents_images/200x200/brock_1971.jpg" />
                    <div class="year">1971</div>
                    <div class="name">Harold L. <br />Brock</div>
                </li>
                
                <li class="swiper-slide prez" data-html="manganiello_1972">
                    <img src="assets/img/presidents_images/200x200/manganiello_1972.jpg" />
                    <div class="year">1972</div>
                    <div class="name">Eugene J. <br />Manganiello</div>
                </li>
                
                <li class="swiper-slide prez" data-html="ellis_1973">
                    <img src="assets/img/presidents_images/200x200/ellis_1973.jpg" />
                    <div class="year">1973</div>
                    <div class="name">John C. <br />Ellis</div>
                </li>
                
                <li class="swiper-slide prez" data-html="gebhardt_1974">
                    <img src="assets/img/presidents_images/200x200/gebhardt_1974.jpg" />
                    <div class="year">1974</div>
                    <div class="name">Wilson A. <br />Gebhardt</div>
                </li>
                
                <li class="swiper-slide prez" data-html="huebner_1975">
                    <img src="assets/img/presidents_images/200x200/huebner_1975.jpg" />
                    <div class="year">1975</div>
                    <div class="name">George J. <br />Huebner, Jr.</div>
                </li>
                
                <li class="swiper-slide prez" data-html="starkman_1976">
                    <img src="assets/img/presidents_images/200x200/starkman_1976.jpg" />
                    <div class="year">1976</div>
                    <div class="name">Ernest S. <br />Starkman</div>
                </li>
                
                <li class="swiper-slide prez" data-html="ringham_1976">
                    <img src="assets/img/presidents_images/200x200/ringham_1976.jpg" />
                    <div class="year">1976</div>
                    <div class="name">Rodger F. <br />Ringham</div>
                </li> 
                
                <li class="swiper-slide prez" data-html="scofield_1977">
                    <img src="assets/img/presidents_images/200x200/scofield_1977.jpg" />
                    <div class="year">1977</div>
                    <div class="name">Gordon L. <br />Scofield</div>
                </li>
                
                <li class="swiper-slide prez" data-html="mcreynolds_1978">
                    <img src="assets/img/presidents_images/200x200/mcreynolds_1978.jpg" />
                    <div class="year">1978</div>
                    <div class="name">Leo A. <br />McReynolds</div>
                </li>
                
                <li class="swiper-slide prez" data-html="fleuelling_1979">
                    <img src="assets/img/presidents_images/200x200/fleuelling_1979.jpg" />
                    <div class="year">1979</div>
                    <div class="name">Lewis E. <br />Fleuelling</div>
                </li>
                
                <li class="swiper-slide prez" data-html="macdonald_1980">
                    <img src="assets/img/presidents_images/200x200/macdonald_1980.jpg" />
                    <div class="year">1980</div>
                    <div class="name">Harold C. <br />MacDonald</div>
                </li>
                
                <li class="swiper-slide prez" data-html="mazziotti_1981">
                    <img src="assets/img/presidents_images/200x200/mazziotti_1981.jpg" />
                    <div class="year">1981</div>
                    <div class="name">Philip J. <br />Mazziotti</div>
                </li>
                
                <li class="swiper-slide prez" data-html="beck_1982">
                    <img src="assets/img/presidents_images/200x200/beck_1982.jpg" />
                    <div class="year">1982</div>
                    <div class="name">N. John <br />Beck</div>
                </li>
                
                <li class="swiper-slide prez" data-html="colyer_1983">
                    <img src="assets/img/presidents_images/200x200/colyer_1983.jpg" />
                    <div class="year">1983</div>
                    <div class="name">Charles C. <br />Colyer</div>
                </li>
                
                <li class="swiper-slide prez" data-html="millar_1984">
                    <img src="assets/img/presidents_images/200x200/millar_1984.jpg" />
                    <div class="year">1984</div>
                    <div class="name">Gordon H. <br />Millar</div>
                </li>
                
                <li class="swiper-slide prez" data-html="green_1985">
                    <img src="assets/img/presidents_images/200x200/green_1985.jpg" />
                    <div class="year">1985</div>
                    <div class="name">Elliot A. <br />Green</div>
                </li>
                
                <li class="swiper-slide prez" data-html="walter_1986">
                    <img src="assets/img/presidents_images/200x200/walter_1986.jpg" />
                    <div class="year">1986</div>
                    <div class="name">Franklin <br />Walter</div>
                </li>
                
                <li class="swiper-slide prez" data-html="coleman_1987">
                    <img src="assets/img/presidents_images/200x200/coleman_1987.jpg" />
                    <div class="year">1987</div>
                    <div class="name">William S. <br />Coleman</div>
                </li>
                
                <li class="swiper-slide prez" data-html="aravosis_1988">
                    <img src="assets/img/presidents_images/200x200/aravosis_1988.jpg" />
                    <div class="year">1988</div>
                    <div class="name">George D. <br />Aravosis</div>
                </li>
                
                <li class="swiper-slide prez" data-html="mabley_1989">
                    <img src="assets/img/presidents_images/200x200/mabley_1989.jpg" />
                    <div class="year">1989</div>
                    <div class="name">Edward T. <br />Mabley</div>
                </li>
                
                <li class="swiper-slide prez" data-html="mason_1990">
                    <img src="assets/img/presidents_images/200x200/mason_1990.jpg" />
                    <div class="year">1990</div>
                    <div class="name">John L. <br />Mason</div>
                </li>
                
                <li class="swiper-slide prez" data-html="eltinge_1991">
                    <img src="assets/img/presidents_images/200x200/eltinge_1991.jpg" />
                    <div class="year">1991</div>
                    <div class="name">Lamont <br />Eltinge</div>
                </li>
                
                <li class="swiper-slide prez" data-html="schmidt_1992">
                    <img src="assets/img/presidents_images/200x200/schmidt_1992.jpg" />
                    <div class="year">1992</div>
                    <div class="name">Jack W. <br />Schmidt</div>
                </li>
                
                <li class="swiper-slide prez" data-html="aubin_1993">
                    <img src="assets/img/presidents_images/200x200/aubin_1993.jpg" />
                    <div class="year">1993</div>
                    <div class="name">Bruce R. <br />Aubin</div>
                </li>
                
                <li class="swiper-slide prez" data-html="richards_1994">
                    <img src="assets/img/presidents_images/200x200/richards_1994.jpg" />
                    <div class="year">1994</div>
                    <div class="name">Randall R. <br />Richards</div>
                </li>
                
                <li class="swiper-slide prez" data-html="leinonen_1995">
                    <img src="assets/img/presidents_images/200x200/leinonen_1995.jpg" />
                    <div class="year">1995</div>
                    <div class="name">John M. <br />Leinonen</div>
                </li>
                
                <li class="swiper-slide prez" data-html="verbal_1996">
                    <img src="assets/img/presidents_images/200x200/verbal_1996.jpg" />
                    <div class="year">1996</div>
                    <div class="name">Claude A. <br />Verbal</div>
                </li>
                
                <li class="swiper-slide prez" data-html="holloway_1997">
                    <img src="assets/img/presidents_images/200x200/holloway_1997.jpg" />
                    <div class="year">1997</div>
                    <div class="name">David C. <br />Holloway</div>
                </li>
                
                <li class="swiper-slide prez" data-html="leonard_1998">
                    <img src="assets/img/presidents_images/200x200/leonard_1998.jpg" />
                    <div class="year">1998</div>
                    <div class="name">Ronald K. <br />Leonard</div>
                </li>
                
                <li class="swiper-slide prez" data-html="ableson_1999">
                    <img src="assets/img/presidents_images/200x200/ableson_1999.jpg" />
                    <div class="year">1999</div>
                    <div class="name">Donald W. <br />Ableson</div>
                </li>
                
                <li class="swiper-slide prez" data-html="baranescu_2000">
                    <img src="assets/img/presidents_images/200x200/baranescu_2000.jpg" />
                    <div class="year">2000</div>
                    <div class="name">Rodica A. <br />Baranescu</div>
                </li>
                
                <li class="swiper-slide prez" data-html="schilke_2001">
                    <img src="assets/img/presidents_images/200x200/schilke_2001.jpg" />
                    <div class="year">2001</div>
                    <div class="name">Neil A. <br />Schilke</div>
                </li>
                
                <li class="swiper-slide prez" data-html="shahed_2002">
                    <img src="assets/img/presidents_images/200x200/shahed_2002.jpg" />
                    <div class="year">2002</div>
                    <div class="name">S.M. <br />Shahed</div>
                </li>
                
                <li class="swiper-slide prez" data-html="thompson_2003">
                    <img src="assets/img/presidents_images/200x200/thompson_2003.jpg" />
                    <div class="year">2003</div>
                    <div class="name">Jack E. <br />Thompson</div>
                </li>
                
                <li class="swiper-slide prez" data-html="tiede_2004">
                    <img src="assets/img/presidents_images/200x200/tiede_2004.jpg" />
                    <div class="year">2004</div>
                    <div class="name">Duane <br />Tiede</div>
                </li>
                
                <li class="swiper-slide prez" data-html="robertson_2005">
                    <img src="assets/img/presidents_images/200x200/robertson_2005.jpg" />
                    <div class="year">2005</div>
                    <div class="name">James E. "Ted" <br />Robertson</div>
                </li>
                
                <li class="swiper-slide prez" data-html="henderson_2006">
                    <img src="assets/img/presidents_images/200x200/henderson_2006.jpg" />
                    <div class="year">2006</div>
                    <div class="name">Greg <br />Henderson</div>
                </li>
                
                <li class="swiper-slide prez" data-html="shaum_2007">
                    <img src="assets/img/presidents_images/200x200/shaum_2007.jpg" />
                    <div class="year">2007</div>
                    <div class="name">Richard O. <br />Schaum</div>
                </li>
                
                <li class="swiper-slide prez" data-html="ryan_2008">
                    <img src="assets/img/presidents_images/200x200/ryan_2008.jpg" />
                    <div class="year">2008</div>
                    <div class="name">Thomas W. <br />Ryan, III</div>
                </li>
                
                <li class="swiper-slide prez" data-html="smith_2009">
                    <img src="assets/img/presidents_images/200x200/smith_2009.jpg" />
                    <div class="year">2009</div>
                    <div class="name">James E. <br />Smith</div>
                </li>
                
                <li class="swiper-slide prez" data-html="brown_2010">
                    <img src="assets/img/presidents_images/200x200/brown_2010.jpg" />
                    <div class="year">2010</div>
                    <div class="name">Andrew <br />Brown, Jr.</div>
                </li>
                
                <li class="swiper-slide prez" data-html="kleine_2011">
                    <img src="assets/img/presidents_images/200x200/kleine_2011.jpg" />
                    <div class="year">2011</div>
                    <div class="name">Richard <br />"Ric" Kleine</div>
                </li>
                
                <li class="swiper-slide prez" data-html="klegon_2012">
                    <img src="assets/img/presidents_images/200x200/klegon_2012.jpg" />
                    <div class="year">2012</div>
                    <div class="name">Frank O. <br />Klegon</div>
                </li>
                
                <li class="swiper-slide prez" data-html="hillebrand_2013">
                    <img src="assets/img/presidents_images/200x200/hillebrand_2013.jpg" />
                    <div class="year">2013</div>
                    <div class="name">Donald G. <br />Hillebrand</div>
                </li>
                
                <li class="swiper-slide prez" data-html="hancock_2014">
                    <img src="assets/img/presidents_images/200x200/hancock_2014.jpg" />
                    <div class="year">2014</div>
                    <div class="name">Daniel M. <br />Hancock</div>
                </li>
                
                <li class="swiper-slide prez" data-html="greaves_2015">
                    <img src="assets/img/presidents_images/200x200/greaves_2015.jpg" />
                    <div class="year">2015</div>
                    <div class="name">Richard <br />Greaves</div>
                </li>
                
                <li class="swiper-slide prez" data-html="oge_2016">
                    <img src="assets/img/presidents_images/200x200/oge_2016.jpg" />
                    <div class="year">2016</div>
                    <div class="name">Cuneyt L. <br />Oge</div>
                </li>
                
                <li class="swiper-slide prez" data-html="patton_2017">
                    <img src="assets/img/presidents_images/200x200/patton_2017.jpg" />
                    <div class="year">2017</div>
                    <div class="name">Douglas <br />Patton</div>
                </li>
                
                <li class="swiper-slide prez" data-html="gradu_2018">
                    <img src="assets/img/presidents_images/200x200/gradu_2018.jpg" />
                    <div class="year">2018</div>
                    <div class="name">Mircea <br />Gradu</div>
                </li>
                
                <li class="swiper-slide prez" data-html="mascarenas_2019">
                    <img src="assets/img/presidents_images/200x200/mascarenas_2019.jpg" />
                    <div class="year">2019</div>
                    <div class="name">Paul <br />Mascarenas</div>
                </li>
                
                <li class="swiper-slide prez" data-html="zarfos_2020">
                    <img src="assets/img/presidents_images/200x200/zarfos_2020.jpg" />
                    <div class="year">2020</div>
                    <div class="name">Todd W. <br />Zarfos</div>
                </li>
                
                <li class="swiper-slide prez" data-html="hemphill_2021">
                    <img src="assets/img/presidents_images/200x200/hemphill_2021.jpg" />
                    <div class="year">2021</div>
                    <div class="name">Jeff <br />Hemphill</div>
                </li>
                
                <li class="swiper-slide prez" data-html="srinath_2022">
                    <img src="assets/img/presidents_images/200x200/srinath_2022.jpg" />
                    <div class="year">2022</div>
                    <div class="name">Srinivas (Sri) <br />Srinath</div>
                </li>
                
                
                
            </ul>
            
            <!--<button class="choose">Choose a Decade</button>-->
        </div>
        
        
        <div class="logos">
            <img src="assets/img/logo_1905-1967.svg" class="logo1905" />
            <img src="assets/img/logo_1976.svg" class="logo1976" />
            <img src="assets/img/logo_1955.svg" class="logo1955" />
            <img src="assets/img/logo_1980.svg" class="logo1980" />
            <img src="assets/img/logo_81-86.svg" class="logo81-86" />
            <img src="assets/img/logo_87-91.svg" class="logo87-91" />
            <img src="assets/img/logo_92-02.svg" class="logo92-02" />
            <img src="assets/img/logo_03-13.svg" class="logo03-13" />
            <img src="assets/img/logo_2005.svg" class="logo2005" />
            <img src="assets/img/logo_current.svg" class="logo_current" />
        </div>
        
        
    </div>
    
    
       
    
    <div class="back_decade">RETURN TO HOME (ADD BUTTON FOR DECADES PAGE)</div>
    
    
</section>

