<div class="bio">
    <h1>Jesse G. Vincent</h1>
    <h2>1920 SAE President</h2>

      <p>President Jesse Vincent was SAE International’s fifteenth President and is best known for his extensive work in the creation of the Liberty V-12 aircraft engine during World War I. Collaborating with Elbert J. Hall of the Hall-Scott Motor Company, the two designed the V-12 Liberty powerplant for the Army Air Force in less than a week. The creation came late in the war and only a small portion of the engines were used in military aircrafts. Thus, the engines were repurposed and converted for marine use in high-end recreational speedboats and championship racers. SAE International’s membership continued to rise to 5,000 members, including the first woman member – Nellie M. Scott.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/vincent_1920.jpg);"></div>
