<div class="bio">
    <h1>William G. Wall</h1>
    <h2>1928 SAE President</h2>

      <p>The twenty-second President of SAE International was William G. Wall. President Wall was chief engineer of the National Motor Vehicle Company, Indianapolis, when he introduced what was described as America’s first six-cylinder car. He also built a winning racer for the Indianapolis 500. President Wall was active in several extraordinary engineering projects, such as the change from steam to internal combustion power in submarines.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/wall_1928.jpg);"></div>
