<div class="bio">
    <h1>Franklin Walter</h1>
    <h2>1986 SAE President</h2>

      <p>The 1986 President of SAE International was Franklin “Frank” Walter. President Walter had a longstanding relationship with SAE at the time of his presidency. He had already been a member for thirty-five years and was active in the Detroit Section since 1961 in multiple roles including Chairman and Treasurer. Professionally, President Walter had close ties with Chrysler, starting his career with Chrysler in 1948 and remaining there until retirement. During his time at Chrysler, Walter was an assistant chief engineer, chief of styling administration, director of product planning, and chief engineer. He retired as Chrysler’s director of corporate timing planning for product development.
          </p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/walter_1986.jpg);"></div>
