<div class="bio">
    <h1>Edward P. Warner</h1>
    <h2>1930 SAE President</h2>

      <p>When Edward P. Warner was elected as the twenty-fourth President of SAE, he was assistant secretary of the Navy for Aeronautics. Previously, he was an engineer for the Military Air Service, chief physicist for the National Advisory Committee for Aeronautics, and an acclaimed professor of aeronautical engineering at MIT. SAE International celebrated its 25th anniversary and membership exceeded 7,000.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/warner_1930.jpg);"></div>
