<div class="bio">
    <h1>Harry T. Woolson</h1>
    <h2>1937 SAE President</h2>

      <p>Harry Woolson, an executive engineer at Chrysler during his 1937 SAE presidency, was initially a marine engineer. After he worked with companies building gas engines for boats, he switched to land vehicles as a truck engineer, working at firms like Packard, Studebaker, and Maxwell. As SAE President, he encouraged younger engineers to become active in SAE International.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/woolson_1937.jpg);"></div>
