<div class="bio">
    <h1>Todd W. Zarfos</h1>
    <h2>2020 SAE President</h2>

      <p>President Todd Zarfos came to SAE International with a strong background in the aero industry. Zarfos served as the senior chief engineer of airplane systems within Boeing Commercial Airplanes and retired in 2020. President Zarfos was with Boeing since 1985 and began his career supporting a variety of avionics development programs. Zarfos led the development and certification of the 777-300ER and the 777-200LR airplanes and led the successful launch of the 777 Freighter. President Zarfos is a Fellow of both the American Institute of Aeronautics and Astronautics (AIAA) and of the Royal Aeronautical Society (RAeS).</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/zarfos_2020.jpg);"></div>
