<div class="bio">
    <h1>James C. Zeder</h1>
    <h2>1950 SAE President</h2>

      <p>SAE International’s President of 1950, James Zeder, wanted to be an engineer since he was old enough to push toys along the floor. President Zeder was an automotive engineer that made achievements in hydraulic brakes, power steering, and all-steel bodies for Chrysler Corporation. He served as a chairman and vice-president of program development for Michigan State University - Oakland (now known as Oakland University). Zeder received the U.S. Army’s Meritorious Civilian Service Award after WWII for his contributions regarding military materials and weapons. During Zeder’s presidency, membership surpassed 15,000.</p>
</div>

<div class="president_image" style="background-image: url(assets/img/presidents_images/zeder_1950.jpg);"></div>
